  .tooltip {
  z-index: 9999;
  }
  /* tooltip body text */
  .tooltip:hover:before {
    position:absolute;
    display:block;
    background:#eee;
    background:-webkit-gradient(linear, 255,255,255, 40%, from(rgba(128,0,0,0.5)), to(rgba(255,0,0,0.9)));
    background:-moz-linear-gradient(rgba(255,255,255,0.4), rgba(255,0,0,0.9));
    background:-o-linear-gradient(rgba(255,255,255,0.4), rgba(255,0,0,0.9));
    background:linear-gradient(rgba(255,255,255,0.4), rgba(255,0,0,0.9));
    content:attr(data-tooltip);
    font-size:0.9em;
    color:#fff;
    z-index: 9999;
    width: 8%;
    text-align:center;
    padding:5px;
    margin-top: 25px;
    margin-left: -2px;
    border:1px solid rgba(255,255,255,0.9);
    -webkit-border-radius:5px;
       -moz-border-radius:5px;
        -ms-border-radius:5px;
         -o-border-radius:5px;
            border-radius:5px;
    -webkit-box-shadow:-2px -2px 2px rgba(20,20,20,0.4);
       -moz-box-shadow:-2px -2px 2px rgba(20,20,20,0.4);
        -ms-box-shadow:-2px -2px 2px rgba(20,20,20,0.4);
         -o-box-shadow:-2px -2px 2px rgba(20,20,20,0.4);
            box-shadow:-2px -2px 2px rgba(20,20,20,0.4);
  }

  /* styles shared by both triangles */
  .tooltip:hover span:before,
  .tooltip:hover span:after {
    content:"";
    position:absolute;
    border-style:solid;
  }
  /* outer triangle: for border */
  .tooltip:hover span:before {
    bottom:5px; /* value = tooltip:hover:before (border-width*2)+1 */
    right:40px; /* controls horizontal position */
    border-width:16px 16px 0; /* top, right-left, bottom */
    border-color:rgba(204,153,153,0.9) transparent; /* top/bottom, right-left (lazy becasue bottom is 0) */
  }

  /* inner triangle: for fill */
  .tooltip:hover span:after {
    bottom:8px; /* value = tooltip:before (border-width*2) */
    right:42px; /* above 'right' value + 2 */
    border-width:14px 14px 0; /* 2 less than above */
    border-color:rgba(225,238,238,0.95) transparent; /* tweak opacity by eye/eyedropper to obscure outer triangle colour */
  }