/*2D + overtime canvases*/

.twoDcanvases {
  position: absolute;
  left: calc(100% - 100px);
  top: -webkit-calc(100% - 100px);
  /*top: calc(100% - 100px);*/
  height: 100px;
  width: 100px;
  background-color: #f00;
  color: #000;
  box-shadow: 0 0 5px 2px #ccc;
  border-radius: 2px;
  z-index: 1000000;
  font-size: 90%;
}

.twoDimCanvasesTopResizer{
    position: absolute;
    /*top: 10px;*/
    height: 10px;
    width: 100%;
    background-color: #00f;
}

.twoDimCanvasesLeftResizer{
    position: absolute;
    height: 100%;
    width: 10px;
    background-color: #0f0;
}


/*.slide2dCanvases {
  top: -webkit-calc(100% - 187px);
  top: calc(100% - 187px);
  right: 0px;
  -webkit-transition: width 0.4s ease-in-out, left 0.4s ease-in-out,right 0.4s ease-in-out, top 0.4s ease-in-out;
  transition: width 0.4s ease-in-out, left 0.4s ease-in-out,right 0.4s ease-in-out, top 0.4s ease-in-out;
}*/