@import 'EMUwebAppDesign';
@import 'mixins';

.emuwebapp-aboutHint {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $color-transparent-black;
    z-index: 99998;
    overflow:hidden;
    .emuwebapp-aboutHint-content {
        position: relative;
        margin: 0 auto;
        padding-top: 80px;
        width: 100%;
        height: 90%;
        color: $color-white;
        overflow:hidden;
        button {
            color: $color-white;
            background-color: transparent;
            padding: 10px;
            border-radius: 0px;
            border:1px solid $color-white;
            &:hover{
	        color: $color-black;
                background-color: $color-white;
            }
        }
        > div {
	    position: relative;
	    height: 60%;
            overflow:hidden;
            > img {
	        height: 100%;
	        width: 100%;
            }
        }
    }
    .emuwebapp-aboutHint-arrow {
        position: absolute;
        color: $color-blue;
        font-size: 200%;
        top: 40px;
        right: 8px;
        @include animation('wiggleUpDown 0.5s infinite');
    }
    .emuwebapp-aboutHint-hidden {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 40px;
        height: 40px;
        border: 0px;
    }
    .emuwebapp-aboutHint-overlay {
        position: absolute;
        top: 40%;
        text-align: center;
        width: 100%;
        color: $color-grey;
        font-size: 200%;
        @include vendor-prefix(transform, "rotate(15deg)");
    }
    &.ng-hide-add.ng-hide-add-active{
        @include animation('shrinkToAboutButton 0.5s 1');
    }
}

@include keyframes(shrinkToAboutButton) {
    25% { 
  	top: 25px;
  	right: 25px;
  	border-radius: 10% 0 10% 10%;
    }
    50% {
  	border-radius: 100% 0 100% 100%;	
    }

    100% { 
  	top: 25px;
  	right: 25px;
  	border-radius: 100% 0 100% 100%;
  	width: 0%;
  	height: 0%;
  }
}

@include keyframes(wiggleUpDown) {
    0% {
        @include transform(translate(0, 2px));
    }
    50% {
        @include transform(translate(0, -2px));
    }
    100% {
        @include transform(translate(0, 2px));
    }
}
