@import 'EMUwebAppDesign';
@import 'font';
@import 'mixins';

.emuwebapp-expandHeightTo20px{
    height: 20px;
    @include vendor-prefix(transition, "height "+$animation-period+"ms");
}

.emuwebapp-shrinkHeightTo0px{
    height: 0;
    @include vendor-prefix(transition, "height "+$animation-period+"ms");
}  

.emuwebapp-expandWidthTo200px{
    right: 0px;
    @include vendor-prefix(transition, "right "+$animation-period+"ms");
}

.emuwebapp-shrinkWidthTo0px{
    right: -201px;
    @include vendor-prefix(transition, "right "+$animation-period+"ms");
}
