/** 
    ###################################
    submenu CSS
    see: bundleListSideBar directive and template
*/

.emuwebapp-bundleListSideBarOuter {
    width:240px;
    height: 100%;
    background: rgb(56,54,62);
    color: #fff;
}

.emuwebapp-bundleListSideBarOuter h3 {
    font-size: 1.4em;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    border-bottom:thin solid white;
}

.emuwebapp-bundleFilter input[type="text"]{
    background: url(../img/search-dark.png) no-repeat 10px 6px #fff;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #777;
    width: 75%;
    height: 25px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}


.emuwebapp-bundleListContainer {
    width: 100%;
    height: calc(100% - 40px);
    overflow-y:auto;
    text-align: left;
    padding: 10px;
    font-size: 0.8em;
}


.emuwebapp-bundleListItem{
    margin: 0px;
    padding: 10px;
    border-style:none;
    border-bottom:thin solid rgba(152, 152, 152, 0.25);
    position: relative;
    cursor: default;
}

.emuwebapp-bundleListItem:hover {
    background-color:rgba(152, 152, 152, 0.28);
}


.emuwebapp-bundleListItem input[type='text'] {
    width: 170px;
    height: 25px;
    font-size: 1.4em;
}

.emuwebapp-bundleListItem b {
    display: block;
    font-size: 1.4em;
    font-weight: 500;
    cursor: default;
    width: 100%;
    height: 28px;
}

.emuwebapp-saveBundleButton {
   position: absolute;
   /*background-color:rgb(56,54,62);*/
   background-color:transparent;
   border-style:none;
   top: 2px;
   right: 2px;
}

.emuwebapp-saveBundleButton img {
    height: 25px;
    width:  25px;
    border-radius: 12.5px;
    background-color:transparent;
    content: url(../img/saveBtn.png);
    vertical-align: middle;
}

.emuwebapp-saveBundleButton img:hover{
    background-color:#0DC5FF;
}


.emuwebapp-expandWidthTo240px{
  width: 240px;
  -webkit-transition: width 0.4s;
  -moz-transition: width 0.4s;
  transition: width 0.4s;
}

.emuwebapp-shrinkWidthTo0px{
  width: 0px;
  -webkit-transition: width 0.4s;
  -moz-transition: width 0.4s;
  transition: width 0.4s;
}