@import 'EMUwebAppColors';
@import 'EMUwebAppClassesAndFunctions';

/** 
    ######################################
        bundleListSideBar directive css
    ######################################
*/

.emuwebapp-bundle-outer {
    height: 100%;
    width:240px;
    background: $EMUwebApp-dark-grey;
    color: $EMUwebApp-white;
    @extend .emuwebapp-font;
    
    h3 {
		font-size: 1.4em;
		padding-top: 6px;
		padding-bottom: 6px;
		margin: 0;
		border-bottom:thin solid $EMUwebApp-white;
    }

}

.emuwebapp-bundle-inner {
    height: 100%;
    @extend .emuwebapp-font;
}

/**
 * ng-hide animation
 */

.emuwebapp-bundle-outer.ng-hide-add.ng-hide-add-active,
.emuwebapp-bundle-outer.ng-hide-remove.ng-hide-remove-active {
  @include vendor-prefix(transition, $EMUwebApp-animation-duration);
}

.emuwebapp-bundle-outer.ng-hide {
    margin-left: -240px;
}



.emuwebapp-bundle-outer 
.emuwebapp-bundleFilter input[type="text"]{
    background: url(../img/search-dark.png) no-repeat 10px 6px $EMUwebApp-white;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #777;
    width: 75%;
    height: 25px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}


.emuwebapp-bundleListContainer {
    width: 100%;
    height: calc(100% - 40px);
    overflow-y:auto;
    text-align: left;
    padding: 10px;
    font-size: 0.8em;
}

.emuwebapp-bundleListSession{
    margin: 0px;
    padding: 5px 0 5px 0;
    border-style:none;
    position: relative;
    cursor: default;
}

.emuwebapp-bundleListSessionBndlsContainer {
  max-height: 25000px;
}


/**
 * ng-hide animation
 */

.emuwebapp-bundleListSessionBndlsContainer.ng-hide-add.ng-hide-add-active{
  -webkit-transition: max-height 0.05s ease-out;
  -moz-transition: max-height 0.05s ease-out;
  transition: max-height 0.05s ease-out;

}

.emuwebapp-bundleListSessionBndlsContainer.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: max-height 0.25s ease-in;
  -moz-transition: max-height 0.25s ease-in;
  transition: max-height 0.25s ease-in;
}

.emuwebapp-bundleListSessionBndlsContainer.ng-hide {
  max-height: 0;
}


.emuwebapp-bundleListSessionPager{
    margin: 0px;
    padding: 5px 0 5px 0;
    border-style:none;
    position: relative;
    text-align: center;
    cursor: default;

}

.emuwebapp-bundleListSessionPager button{
    background: transparent;
    color: white;
    border-radius: 25%;
    border:2px solid white;
    font-size: 15px;
}
.emuwebapp-bundleListSessionPager button:hover{
    background-color: rgba(152, 152, 152, 0.25);
}

.emuwebapp-bundleListSessionPager button:focus{
    outline:0;
}


.emuwebapp-bundleListSessionPager button:disabled{
    color: rgba(152, 152, 152, 0.25);
    border:2px solid rgba(152, 152, 152, 0.25);
}


.emuwebapp-bundleListSession:hover{
    background-color:rgba(152, 152, 152, 0.18);
}

.emuwebapp-bundleListItem{
    margin: 0px;
    padding: 10px;
    border-style:none;
    border-bottom:thin solid rgba(152, 152, 152, 0.25);
    position: relative;
    cursor: default;
}

.emuwebapp-bundleListItem:hover {
    background-color:rgba(152, 152, 152, 0.28);
}


.emuwebapp-bundleListItem input[type='text'] {
    width: 170px;
    height: 25px;
    font-size: 1.4em;
}

.emuwebapp-bundleListItem b {
    display: block;
    font-size: 1.4em;
    font-weight: 500;
    cursor: default;
    width: 100%;
    height: 28px;
}

.emuwebapp-saveBundleButton {
   position: absolute;
   /*background-color:rgb(56,54,62);*/
   background-color:transparent;
   border-style:none;
   top: 2px;
   right: 2px;
}

.emuwebapp-saveBundleButton img {
    height: 25px;
    width:  25px;
    border-radius: 12.5px;
    background-color:transparent;
    vertical-align: middle;
}

.emuwebapp-saveBundleButton img:hover{
    background-color: $EMUwebApp-blue;
}

.emuwebapp-shrinkWidthTo0px{
  width: 0px;
  -webkit-transition: width 0.4s;
  -moz-transition: width 0.4s;
  transition: width 0.4s;
}
