@import 'EMUwebAppColors';
@import 'EMUwebAppClassesAndFunctions';

.emuwebapp-nav-wrap {
	z-index: 99999;
	ul {
		list-style:none;
		position:relative;
		
		ul {
			display:none;
			position:absolute;
			top:100%;
			left:0;
			background:#fff;
			margin:0px;
			margin-left: 2px;
			ul {
				top: 0px;
				left: 100%;
				z-index: 99999;
			}			
			li {
				float:none;
				width:150px
			}	
			a {
				z-index: 99999;	
			}					
		}		
		
		li {
			position:relative;
			float:left;
			margin:0;
			padding:0;
			width: 100%;
			padding-right: 4px;
		}
	}
}

.emuwebapp-nav-wrap ul li:hover > ul {
	display:block;
	z-index: 99999;
}


.emuwebapp-nav-wrap ul li:hover > .emuwebapp-toggle-button {
  background: #fff;
  color: #000;
}


.emuwebapp-label-edit {
	z-index:9999;
	position: absolute;
	font-size: 0.8em;
	text-align: center;
	overflow: scroll;
	padding:0;
	margin:0;
	border: 1px $EMUwebApp-dark-grey;
	outline: none;
	resize: none;
	white-space: nowrap;
	background-color: $EMUwebApp-yellow;
	box-shadow: 0px 0px 15px $EMUwebApp-dark-grey;
	vertical-align: middle !important; 
	overflow-x: hidden;
	overflow-y: hidden;
}	

.emuwebapp-mini-btn {
    background: transparent;
    border-radius:0px;
    border:1px solid $EMUwebApp-white;
    color: $EMUwebApp-white;
    font-weight:bold;
    text-decoration:none;
    text-align:center;
    margin: 2px;
    margin-top: 5px;    
    padding: 1px;
    line-height: 12px;
    text-align:center;
    width: 120px;
    height: 30px;
    @extend .emuwebapp-font;
}

.emuwebapp-mini-btn:hover:enabled {
    background-color:white;
    color:#000;
}

.emuwebapp-mini-btn:disabled {
    color:rgb(33,217,255);
    border:1px solid rgb(33,217,255);
}

.emuwebapp-mini-btn:active {
    top:1px;
}
