@import 'EMUwebAppDesign';
@import 'font';
@import 'mixins';

.emuwebapp-nav-wrap {
	z-index: 99999;
	.emuwebapp-dropdown-container:hover .emuwebapp-mini-btn {
	    background: $color-white;
	    color: $color-black;
	}
	ul {
		list-style:none;
		position:relative;
		ul {
			position:absolute;
			top:100%;
			left:0;
			background: $color-white;
			margin:0px;
			margin-left: 2px;
			ul {
				top: 0px;
				left: 100%;
				z-index: 99999;
			}
			li {
				float:none;
				width:150px;
			}
			a {
				z-index: 99999;
			}
		}
		li {
			position:relative;
			float:left;
			margin:0;
			padding:0;
			width: 100%;
		}
	}
}

.emuwebapp-label-edit {
	z-index:9999;
	position: absolute;
	font-size: 0.8em;
	text-align: center;
	overflow: scroll;
	padding:0;
	margin:0;
	border: 1px $color-darkGrey;
	outline: none;
	resize: none;
	white-space: nowrap;
	background-color: $color-yellow;
	box-shadow: 0px 0px 15px $color-darkGrey;
	vertical-align: middle !important;
	overflow-x: hidden;
	overflow-y: hidden;
}

.emuwebapp-mini-btn {
	display: inline-block;
    background: transparent;
    border-radius: 0px;
    border: 1px solid $color-white;
    color: $color-white;
    text-decoration: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 120px;
    height: 30px;
    outline: none;
    @extend .emuwebapp-font-small;
    &:hover:enabled {
		background-color: $color-white;
		color: $color-black;
	}
	&:disabled {
	    pointer-events: none;
	    color:rgb(33,217,255);
	    border:1px solid rgb(33,217,255);
    }
	&:active {
	    top:1px;
    }
}

.emuwebapp-mini-btn-save {
    @extend .emuwebapp-mini-btn;
    width: 40px;
    height: 22px;
    position: relative;
    top: -2px;
    background: $color-blue;
    border: 1px solid $color-blue;
    color: $color-white;
	&:hover {
    	background: $color-blue;
	    border: 1px solid $color-blue;
    	color: $color-white;
    }    
}

.emuwebapp-button-icon {
    display:inline-block;
    position: relative;
    background: transparent;
    border: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    top: 0px;
    > ._20px {
			width: 20px;
			height:20px;
		}
    > ._35px {
			width: 35px;
			height:35px;
		}
		&:active {
			background: $color-white;
		}
		&:focus {
			outline: none;
		}
}
