.modal{
	display: block;
	margin: 50px;
}
.modal-header{
	background-color: #0DC5FF;
}

.modal-body{
	background-color: white;
	height: 50%;
	overflow-y: auto; 

}

.modal-exportdata {
    text-align:left;
    width: 70%;
    margin-left: 15%;
    font-size: 0.7em;
}


.modal-footer{
	text-align: center;
	background-color: #0DC5FF;
	border-radius: 0;
}