.modal{
	display: block;
	margin: 50px;
}
.modal-header{
	background-color: #0DC5FF;
}

.modal-body{
	background-color: white;
	padding: 10%;
}

.emuwebapp-modalUl{
	padding-left: 0;
}

.emuwebapp-rgbTextInput {
	width: 50px;
	text-align: center;
}

.emuwebapp-modalTable {
	 border: 1px solid rgba(0,0,0,0.1);
	 text-align: left;
	 margin: 0px auto;
}

.emuwebapp-card {
	width:100%;
	margin-top: 10px;
	background-color: transparent;
	border: 1px solid black;
	box-shadow: 2px 2px 5px #888888;
}

.emuwebapp-card:hover{
	background-color:rgba(152, 152, 152, 0.28);
}

.modal-exportdata {
    text-align:left;
    width: 70%;
    margin-left: 15%;
    font-size: 0.7em;
}

.modal-footer{
	text-align: center;
	background-color: #0DC5FF;
	border-radius: 0;
}

.emuwebapp-hierarchy-container{
	width: 100%;
	height: 100%;
	background-color: pink;
}

.modal-body-hierarchy {
	height: 80%;
	padding: 0px;
}
