.emuwebapp-dropzone {
    height: 80%;
    width: 80%;
    border: 1px dashed white;
    border-radius: 4px;
    text-align: center;
    color: #BBB;
    padding: 15px;
    margin: 15px;
}
.emuwebapp-dropzone.not-available {
    background-color: #f00;
}
.emuwebapp-dropzone.over {
    background-color: #bfb;
}
.emuwebapp-dropzone.error {
    background-color: #f00;
}
.emuwebapp-dropzone.waiting {
    background-color: #0ff;
}
.emuwebapp-dropzone.hidden {
    display: none;
}

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.drag {
    cursor: move;  
}
