/**
 * This file will be overwritten. It is generated out of configFiles/default_emuwebappDesign.json .Please make all necessary changes there.
 */

$color-black: #000
$color-white: #fff
$color-blue: #0DC5FF
$font-type: HelveticaNeue
$font-size: 14
