// color-settings
$EMUwebApp-blue: #0DC5FF;
$EMUwebApp-white: #FFFFFF;
$EMUwebApp-light-grey: #E7E7E7;
$EMUwebApp-dark-grey: rgb(56,54,62);

// timing settings
$EMUwebApp-animation-duration: '400';

// font-settings
$EMUwebApp-font-family: 'HelveticaNeue';
$EMUwebApp-font-size: '14px';

