/*********************/
/***    SETTINGS   ***/
/*********************/

// color-settings
$EMUwebApp-blue: #0DC5FF;
$EMUwebApp-white: #FFFFFF;
$EMUwebApp-black: #000000;
$EMUwebApp-yellow: rgba(255,255,0,1);
$EMUwebApp-light-grey: #E7E7E7;
$EMUwebApp-dark-grey: rgb(56,54,62);
// timing settings
$EMUwebApp-animation-duration: '400ms';
// font-settings
$EMUwebApp-font-family: HelveticaNeue;
$EMUwebApp-font-size-small: 12px;
$EMUwebApp-font-size-large: 18px;
$EMUwebApp-font-weight-small: 400;
$EMUwebApp-font-weight-large: 800;

/**************************/
/** DEFAULT FONT CLASSES **/
/**************************/

.emuwebapp-font {
    font-family: $EMUwebApp-font-family;
    font-size: $EMUwebApp-font-size-small;
    font-weight: $EMUwebApp-font-weight-small;
}

.emuwebapp-font-large {
    font-family: $EMUwebApp-font-family;
    font-size: $EMUwebApp-font-size-large;
    font-weight: $EMUwebApp-font-weight-large;
}

