/*********************/
/***    SETTINGS   ***/
/*********************/

// color-settings
$EMUwebApp-blue: #0DC5FF;
$EMUwebApp-white: #FFFFFF;
$EMUwebApp-black: #000000;
$EMUwebApp-yellow: rgba(255,255,0,1);
$EMUwebApp-light-grey: #E7E7E7;
$EMUwebApp-dark-grey: rgb(56,54,62);
// timing settings
$EMUwebApp-animation-duration: '400ms';
// font-settings
$EMUwebApp-font-family: 'HelveticaNeue';
$EMUwebApp-font-size: '2px';