@import 'EMUwebAppDesign';
@import 'font';
@import 'mixins';

.emuwebapp-grid {
    display: flex;
    .emuwebapp-grid-button {
        height: 30px;
        padding-top: 5px;
        border: 0;
        border-left: 1px solid $color-white;
        border-right: 1px solid $color-white;
        &:first-child {
            border-left: 0;
        }
        &:last-child {
            border-right: 0;
        }
    }
    .emuwebapp-grid-center {
        align-self: center;
    }
}
.emuwebapp-timeline-flexcontainer {
    padding: 0;
    margin: 0;
    height: 100%;
    position: relative;
    display: inline-block;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 80px;
    li {
        margin: 0;
        padding: 0;
        width: 100%;
        margin-top: 2px !important;
        margin-bottom: 2px !important;
        position: relative;
    }
}
.emuwebapp-grid-cell {
  flex: 1;
  .emuwebapp-grid-head {
    border: 0;
    margin-bottom: 12px;
    margin-top: 12px;
    text-align: left;
    padding: 0;
    text-decoration: underline;
    @extend .emuwebapp-font-large;
  }
  .emuwebapp-grid-dotted {
    overflow: auto;
    &:nth-child(even) {
        background: $color-white;
      }
      &:nth-child(odd) {
        background: $color-lightGrey;
      }
      border: 0;
      margin: 0;
      padding: 2px;
      padding-top: 4px;
      padding-bottom: 4px;
      text-align: left;
      padding-left: 8%;
      @extend .emuwebapp-font-small;
      white-space: nowrap;
    }
}
