@import 'EMUwebAppColors';

.emuwebapp-grid {
  display: flex;
}

.emuwebapp-grid-bottom {
  display: flex;
  bottom: 0px;
  left: 0px;
}

.emuwebapp-grid-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.emuwebapp-grid-dotted {
    border: 0px;
    border-bottom: 1px dotted #999;
    margin-bottom: 3px;
    margin-top: 6px;
    text-align: left;
    padding-left: 22%;
}

.emuwebapp-grid-head {
    border: 0px;
    margin-bottom: 12px;
    margin-top: 12px;
    text-align: left;
    padding-left: 22%;
    font-weight: 600;
    text-decoration: underline;
}


.emuwebapp-grid-cell {
  flex: 1;
}

.emuwebapp-grid-row {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-align-content: center;
    align-content: center;
}
 
.emuwebapp-grid-button {
    height: 30px;
    padding-top: 5px;
    border: 0px;
    border-left: 1px solid $EMUwebApp-white;
    border-right: 1px solid $EMUwebApp-white;
}

.emuwebapp-grid-button:first-child { 
  border-left: 0px;
}

.emuwebapp-grid-button:last-child  { 
  border-right: 0px;
}

/* Alignment per row */
.emuwebapp-grid-top {
  align-items: flex-start;
}
.emuwebapp-grid-bottom {
  align-items: flex-end;
}
.emuwebapp-grid-center {
  align-items: center;
}

/* Alignment per cell */
.emuwebapp-grid-cell--top {
  align-self: flex-start;
}
.emuwebapp-grid-cell--bottom {
  align-self: flex-end;
}
.emuwebapp-grid-cell--center {
  align-self: center;
}

/* Base classes for all media */
.emuwebapp-grid--fit > .emuwebapp-grid-cell {
  flex: 1;
}
.emuwebapp-grid--full > .emuwebapp-grid-cell {
  flex: 0 0 100%;
}
.emuwebapp-grid--1of2 > .emuwebapp-grid-cell {
  flex: 0 0 50%
}
.emuwebapp-grid--1of3 > .emuwebapp-grid-cell {
  flex: 0 0 33.3333%
}
.emuwebapp-grid--1of4 > .emuwebapp-grid-cell {
  flex: 0 0 25%
}

/* Small to medium screens */
@media (min-width: 24em) {
  .emuwebapp-grid-small--fit > .emuwebapp-grid-cell {
    flex: 1;
  }
  .emuwebapp-grid-small--full > .emuwebapp-grid-cell {
    flex: 0 0 100%;
  }
  .emuwebapp-grid-small--1of2 > .emuwebapp-grid-cell {
    flex: 0 0 50%
  }
  .emuwebapp-grid-small--1of3 > .emuwebapp-grid-cell {
    flex: 0 0 33.3333%
  }
  .emuwebapp-grid-small--1of4 > .emuwebapp-grid-cell {
    flex: 0 0 25%
  }
}

/* Large screens */
@media (min-width: 48em) {
  .emuwebapp-grid-large--fit > .emuwebapp-grid-cell {
    flex: 1;
  }
  .emuwebapp-grid-large--full > .emuwebapp-grid-cell {
    flex: 0 0 100%;
  }
  .emuwebapp-grid-large--1of2 > .emuwebapp-grid-cell {
    flex: 0 0 50%
  }
  .emuwebapp-grid-large--1of3 > .emuwebapp-grid-cell {
    flex: 0 0 33.3333%
  }
  .emuwebapp-grid-large--1of4 > .emuwebapp-grid-cell {
    flex: 0 0 25%
  }
}