@import 'EMUwebAppDesign';
@import 'font';
@import 'mixins';

.emuwebapp-grid {
    display: flex;
    .emuwebapp-grid-button {
        height: 30px;
        padding-top: 5px;
        border: 0px;
        border-left: 1px solid $color-white;
        border-right: 1px solid $color-white;
        &:first-child { 
            border-left: 0px;
        }
        &:last-child { 
            border-right: 0px;
        }
    }
    .emuwebapp-grid-center {
        align-self: center;
    }
}
.emuwebapp-timeline-flexcontainer {
    padding: 0;
    margin: 0;
    height: 100%;
    position: relative;
    display: inline-block;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 80px;
    li {
        margin: 0;
        padding: 0;
        width: 100%;
        margin-top: 2px !important;
        margin-bottom: 2px !important;
        position: relative;
    }
}
.emuwebapp-grid-cell {
    flex: 1;
    .emuwebapp-grid-head {
        border: 0px;
        margin-bottom: 12px;
        margin-top: 12px;
        text-align: left;
        padding-left: 20%;
        text-decoration: underline;
        @extend .emuwebapp-font-large;
        .emuwebapp-grid-dotted {
            border: 0px;
            border-bottom: 1px dotted $color-grey;
            margin-bottom: 3px;
            margin-top: 6px;
            text-align: left;
            padding-left: 20%;
            @extend .emuwebapp-font-small;
        }
    }
}
