.emuwebapp-grid {
  display: flex;
  /*margin: 1em;*/
}

.emuwebapp-grid-cell {
  flex: 1;
}

.emuwebapp-grid-button {
  height: 30px;
  padding-top: 5px;
  cursor: pointer;
}

/* Alignment per row */
.emuwebapp-grid-top {
  align-items: flex-start;
}
.emuwebapp-grid-bottom {
  align-items: flex-end;
}
.emuwebapp-grid-center {
  align-items: center;
}

/* Alignment per cell */
.emuwebapp-grid-cell--top {
  align-self: flex-start;
}
.emuwebapp-grid-cell--bottom {
  align-self: flex-end;
}
.emuwebapp-grid-cell--center {
  align-self: center;
}

/* Base classes for all media */
.emuwebapp-grid--fit > .emuwebapp-grid-cell {
  flex: 1;
}
.emuwebapp-grid--full > .emuwebapp-grid-cell {
  flex: 0 0 100%;
}
.emuwebapp-grid--1of2 > .emuwebapp-grid-cell {
  flex: 0 0 50%
}
.emuwebapp-grid--1of3 > .emuwebapp-grid-cell {
  flex: 0 0 33.3333%
}
.emuwebapp-grid--1of4 > .emuwebapp-grid-cell {
  flex: 0 0 25%
}

/* Small to medium screens */
@media (min-width: 24em) {
  .emuwebapp-grid-small--fit > .emuwebapp-grid-cell {
    flex: 1;
  }
  .emuwebapp-grid-small--full > .emuwebapp-grid-cell {
    flex: 0 0 100%;
  }
  .emuwebapp-grid-small--1of2 > .emuwebapp-grid-cell {
    flex: 0 0 50%
  }
  .emuwebapp-grid-small--1of3 > .emuwebapp-grid-cell {
    flex: 0 0 33.3333%
  }
  .emuwebapp-grid-small--1of4 > .emuwebapp-grid-cell {
    flex: 0 0 25%
  }
}

/* Large screens */
@media (min-width: 48em) {
  .emuwebapp-grid-large--fit > .emuwebapp-grid-cell {
    flex: 1;
  }
  .emuwebapp-grid-large--full > .emuwebapp-grid-cell {
    flex: 0 0 100%;
  }
  .emuwebapp-grid-large--1of2 > .emuwebapp-grid-cell {
    flex: 0 0 50%
  }
  .emuwebapp-grid-large--1of3 > .emuwebapp-grid-cell {
    flex: 0 0 33.3333%
  }
  .emuwebapp-grid-large--1of4 > .emuwebapp-grid-cell {
    flex: 0 0 25%
  }
}