.emuhierarchy-node {
	cursor: pointer;
}

.emuhierarchy-overlay {
	background-color:#EEE;
}

.emuhierarchy-node circle {
	stroke-width: 1.5px;
}

.emuhierarchy-node text {
	font-size:10px;
	font-family:sans-serif;
}

.emuhierarchy-link {
	fill: none;
	stroke-width: 1.5px;
}

.emuhierarchy-ghostlink {
	fill: none;
	stroke-width: 15px;
	/* The stroke color will never be visible due to the opacity of 0 */
	stroke: white;
	opacity: 0;
}

.emuhierarchy-newlinkpreview {
	fill: none;
	stroke-width: 2px;
	stroke-dasharray: 5 5;
}

.emuhierarchy-ghostCircle .emuhierarchy-show {
		display:block;
}

.emuhierarchy-ghostCircle, .emuhierarchy-activeDrag .emuhierarchy-ghostCircle {
		display: none;
}

