@import 'EMUwebAppDesign';
@import 'font';
@import 'mixins';


.emuwebapp-history {
    position: absolute;
    display: flex;
    font-size: 200% !important;
    align-items: center;
    justify-content: center;
    left: 30%;
    top: 0px;
    width: 40%;
    height: 8%;
    background: $color-blue;
    color: $color-white;
    z-index: 999999;
    opacity: 0;
    font-weight: 900 !important;
    border: 0px;
    border-left: 1px solid $color-black;
    border-right: 1px solid $color-black;
    border-bottom: 1px solid $color-black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: $color-white;
    @include vendor-prefix(transition, "0.8s ease all");
    div {
        max-height: 100%;
        max-width: 100%;
        background-color: transparent;
    }
}
.emuwebapp-history-fade {
    opacity: 1;
}


