@import 'EMUwebAppDesign';
@import 'font';
@import 'mixins';


.emuwebapp-history {
    position: absolute;
    display: flex;
    font-size: 200%;
    align-items: center;
    justify-content: center;
    left: 30%;
    top: 0px;
    width: 40%;
    height: 8%;
    background: $color-blue;
    color: $color-white;
    z-index: 999999;
    opacity: 0;
    font-weight: 900;
    @include vendor-prefix(bottom-left-radius, "20px");
    @include vendor-prefix(bottom-right-radius, "20px");
    @include vendor-prefix(transition, "0.8s ease all");
    div {
        max-height: 100%;
        max-width: 100%;
        background-color: transparent;
    }
}
.emuwebapp-history-fade {
    opacity: 1;
}


