@import 'EMUwebAppDesign';
@import 'font';
@import 'mixins';


.emuwebapp-history {
    position: absolute;
    display: flex;
    font-size: 150% !important;
    align-items: center;
    justify-content: center;
    left: 35%;
    top: 0;
    width: 30%;
    height: 30px;
    background: $color-darkGrey;
    color: $color-white;
    z-index: -10;
    opacity: 0;
    font-weight: 900 !important;
    border: 0;
    border-left: 1px solid $color-white;
    border-right: 1px solid $color-white;
    border-bottom: 1px solid $color-white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    @include vendor-prefix(transition, "all "+$animation-period+"ms ease-in");
    div {
        max-height: 100%;
        max-width: 100%;
        background-color: transparent;
    }
}
.emuwebapp-history-fade {
    z-index: 999999;
    opacity: 1;
    @include vendor-prefix(transition, "all "+$animation-period+"ms ease-out");
}
