.emuwebapp-historyActionPopup{
	position: absolute;
	display: flex;
  	font-size: 75%;
 	align-items: center;
 	justify-content: center;
 	left: 30%;
	/*height: 5%;*/
	width: 40%;
	background-color: rgb(56,54,62);
	color: #fff;
	z-index: 100000;
  	opacity: 0;
  	-webkit-transition:0.5s ease all;
  	transition:0.5s ease all;
}

.emuwebapp-historyActionPopupThere {
	opacity: 1;
}

.emuwebapp-historyActionModal{
	max-height: 100%;
	max-width: 100%;
	background-color: transparent;
}
