@import 'EMUwebAppColors';

.emuwebapp-tutorial-intro {
    position: absolute; 
    height:75%; 
    width:72%; 
    margin-left: 25%; 
    margin-top: 0px; 
    border: 1px solid #111;
    box-shadow:outset 0 1px 2px rgba(0,0,0,0.18);
    transform: perspective( 950px ) rotateY( -7deg );  
    z-index: 2;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.85), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.85), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.85), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}


.emuwebapp-tutorial {
    position: absolute; 
    height:100%; 
    width:28%; 
    margin-left: 0px; 
    margin-top: 0px; 
    background: #eee;
    z-index: 1;
    text-align: left;
    padding-left: 5px;
    border-right: 1px dashed #aaa;
}

.emuwebapp-tutorial h1 {
    font-size: 22px;
    text-decoration: underline;
    text-align: center;
}

.emuwebapp-tutorial div {
    padding-left: 4px;
    padding-right: 12px;
}

.emuwebapp-tutorial ul {
    list-style: none;
    padding: 0px;
    margin-top: 7px;
    margin-left: 7px;
}

.emuwebapp-tutorial ul li {
	padding: 0px;
	margin: 0px;
}

.emuwebapp-tutorial ul li:before {
    content: "\2192 \0020";
}

.emuwebapp-tutorial-active {
    font-size: 18px;
    color: rgba(196,32,32,0.8);
}

.emuwebapp-tutorial-done {
    color: rgba(128,128,128,0.5);
}

.emuwebapp-tutorial-not-done {
    color: rgba(128,128,128,0.5);
}


.emuwebapp-tutorial-head {
    position: relative; 
    text-align: left; 
    height:12%; 
    width:100%; 
    margin: 0px;
    background-color: $EMUwebApp-blue;
    border-bottom: 1px solid $EMUwebApp-dark-grey;
}

.emuwebapp-tutorial-head img {
    position: relative;
    left: 50%;
    margin-top: -22px;
    margin-left: -64px;
}