@import 'EMUwebAppDesign';
@import 'font';
@import 'mixins';

.emuwebapp-largetextinputfield {

  background: pink;
  height: 10%;
  textarea{
    height: 100%;
    width: 100%;
    background: $color-yellow;
    border: none;
  }

}
