/** 
    ###################################
    Level CSS
    see: level directive and template
    */

    .emuwebapp-levelOuter {
        /*display: inline-block;*/
        /*float: left;*/
        width: 100%;
        height: 64px;
        perspective: 800px;
    }

    .emuwebapp-levelCanvasContainer {
        position: relative;
        float:left;
        width: calc(100% - 30px);
        height: 100%;
        padding: 5px;
    }

    @-webkit-keyframes emuwebapp-levelCanvasContainer{
        from { -webkit-transform: rotateX(0deg);    }
        to   { -webkit-transform: rotateX(-180deg); }
    }

    /* all other browsers */
    @keyframes emuwebapp-levelCanvasContainer{
        from {
          -moz-transform: rotateX(0deg);
          -ms-transform: rotateX(0deg);
          transform: rotateX(0deg);
      }
      to {
          -moz-transform: rotateX(-180deg);
          -ms-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
      }
  }


  .emuwebapp-levelCanvasContainer-animate{
    -webkit-animation-name: emuwebapp-levelCanvasContainer;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 0.3s;

    animation-name: emuwebapp-levelCanvasContainer;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration: 0.3s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    /*animation-play-state: running;*/
}


.emuwebapp-levelCanvas {
    float: left;
    margin: 0px;
    border: 1px solid gray;
    width: 100%;
    height: 100%;
    z-index: 1; 
}


.emuwebapp-levelMarkupCanvas {
    /*float: left;*/
    position: absolute;
    top: 5px; 
    left: 5px;
    /*border: 1px solid red;*/
    background-color: transparent;
    width:calc(100% - 10px);
    height: calc(100% - 10px);
    z-index: 2; 
}

.emuwebapp-levelButtonsContainer {
    /*position: relative;*/
    float: left;
    width: 30px;
    height: 100%;
    /*background-color: #0a0;*/
}

/*levelButtons*/

/*delete*/
.emuwebapp-levelDeleteBtn {
    float:left;
    width: 20px;
    height: calc(100%/3);
    background-color: white;
    /*border: 1px solid black;*/
}

.emuwebapp-levelDeleteBtn img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    vertical-align: middle;
}

.emuwebapp-levelDeleteBtn img:hover{
    background-color:#0DC5FF;
}

/*resize*/
.emuwebapp-levelResizeBtn {
    float:left;
    width: 20px;
    height: 20px;
    background-color: white;
    /*border: 1px solid black;*/
}

.emuwebapp-levelResizeBtn img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    vertical-align: middle;
}

.emuwebapp-levelResizeBtn img:hover{
    background-color:#0DC5FF;
}

/*save*/
.emuwebapp-levelSaveBtn {
    float:left;
    width: 20px;
    height: calc(100%/3);
    background-color: white;
    /*border: 1px solid black;*/
}

.emuwebapp-levelSaveBtn img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    vertical-align: middle;
}

.emuwebapp-levelSaveBtn img:hover{
    background-color:#0DC5FF;
}

/*emuwebapp-selectAttrDef*/

.emuwebapp-selectAttrDef{
    width: calc(100% - 40px);
    /*background-color: red;*/
    text-align: center;
    padding: 0;
    margin-left: 5px;
}
.emuwebapp-selectAttrDef div{
    display: inline-block;
    /*background-color: blue;*/
    /*width: auto;*/
    padding-left: 5px;
    padding-right: 5px;
    /*border: 1px dotted gray;*/
    /*border-width: 0 1px 1px 1px;*/
}
.emuwebapp-selectAttrDef ul{
    list-style:none;
    /*position:relative;*/
    padding: 0px;
    margin: 0 0 0 0;;
    /*border:1px solid green;*/
    /*left:50%;*/
}

.emuwebapp-selectAttrDef li{
    /*float: left;*/
    display: inline;
    margin: 0 0 0 0;
}


.emuwebapp-selectAttrDef button{
    padding: 0px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border:1px solid gray;
    /*background: -webkit-radial-gradient(50% 50%, closest-corner, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));*/

}

.emuwebapp-selectAttrDef button:hover{
    border:1px solid #0DC5FF;
}

.emuwebapp-selectAttrDef button:focus{
    /*background-color: white;*/
    outline: none;
}
