@import 'EMUwebAppDesign';
@import 'mixins';

/** 
    ###################################
        level directive css
    ###################################
*/

.emuwebapp-level {
    width: 100%;
    height: 64px;
    perspective: 800px;
    .emuwebapp-level-container {
        position: relative;
        float:left;
        width: calc(100% - 30px);
        height: 100%;
        padding: 5px;
    }
    .emuwebapp-level-canvas {
        float: left;
        margin: 0px;
        border: 1px solid gray;
        width: 100%;
        height: 100%;
        z-index: 1; 
    }
    .emuwebapp-level-markup {
        position: absolute;
        top: 5px; 
        left: 5px;
        background-color: transparent;
        width:calc(100% - 10px);
        height: calc(100% - 10px);
        z-index: 2; 
    }
    .emuwebapp-level-buttons {
        float: left;
        width: 10px;
        height: 100%;
    }
}

@include keyframes(rotate-the-object) {
  0%   { @include vendor-prefix(transform, "rotateX(0deg)"); }
  100% { @include vendor-prefix(transform, "rotateX(-180deg)"); }
}

.emuwebapp-level-animation {
    @include animation('rotate-the-object .2s 1');
} 

.emuwebapp-level-button {
    float:left;
    width: 20px;
    height: calc(100%/3);
    background-color: white;
    img {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        vertical-align: middle;
        &:hover{
            background-color: $color-blue;
        }
    }
}

.emuwebapp-selectAttrDef{
    width: calc(100% - 40px);
    /*background-color: red;*/
    text-align: center;
    padding: 0;
    margin-left: 5px;
}
.emuwebapp-selectAttrDef div{
    display: inline-block;
    /*background-color: blue;*/
    /*width: auto;*/
    padding-left: 5px;
    padding-right: 5px;
    /*border: 1px dotted gray;*/
    /*border-width: 0 1px 1px 1px;*/
}
.emuwebapp-selectAttrDef ul{
    list-style:none;
    /*position:relative;*/
    padding: 0px;
    margin: 0 0 0 0;;
    /*border:1px solid green;*/
    /*left:50%;*/
}

.emuwebapp-selectAttrDef li{
    /*float: left;*/
    display: inline;
    margin: 0 0 0 0;
}


.emuwebapp-selectAttrDef button{
    padding: 0px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border:1px solid gray;

}

.emuwebapp-selectAttrDef button:hover{
    border:1px solid $color-blue;
}

.emuwebapp-selectAttrDef button:focus{
    /*background-color: white;*/
    outline: none;
}
