@import 'EMUwebAppDesign';
@import 'font';
@import 'mixins';

.allLevelCanvasesGrid {
  display: grid;
  border: 1px solid #f76707;
  background-color: #fff4e6;
  margin-top: 25px;

  .levelCanvasGrid {
    display: grid;
    border: 1px solid #ffa94d;
    background-color: #ffd8a8;
    color: #d9480f;
    height: 64px;
    grid-template-columns: 1fr 20px;
    .levelCanvasArea{
      border: 1px solid #f76707;
    }
    .levelCanvasButtonGrid {
      border: 1px solid #f76707;
      display: grid;
      height: 100%;
    }
  }
}
