/** 
    ###################################
    global CSS
*/

.emuwebapp * {
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

 
html, body{
    overflow: auto;
    overflow-x:hidden;
    height: 100%;
    width:100%;
    padding: 0;
    margin: 0;
    z-index: 0; 
    background: white;
    text-align:center;
}

table { 
    border-collapse: collapse; 
}

ul {
    list-style-type: none;
}

.left {
    float:left;
}

.right {
    float:right;
}

.ng-scope {
    margin: 0;
    padding: 0;
    width: 100%;
}

.dropdown {
    list-style: none;
}


/** 
    ###################################
    MainCtrl CSS
    see: main.html
    is meant for the basic layout (top/bottom/right side menus + split panes +...)
*/

.emuwebapp {
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.emuwebapp > .emuwebapp-MainCtrl {
    display: flex;
    /*flex-direction: row;*/
    background-color: pink;
    position: absolute;
    /*top: 100px;*/
    /*left: 0;*/
    width: 100%;
    height: 100%;
}

.emuwebapp > .emuwebapp-MainCtrl > .emuwebapp-mainWindow {
    flex: 1;
    display: flex;
    flex-direction: column;
    /*position:relative;*/
    /*top: 40px;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 50%;*/
    background-color: red;
}

.emuwebapp > .emuwebapp-MainCtrl > .emuwebapp-mainWindow > .emuwebapp-allCans {
    flex: 1;
    position:relative;
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*min-height: 100%;*/
    background-color: white;
    z-index:1;
}

.emuwebapp-topPane {
    /*overflow: auto;*/
    /*background-color: green;*/
    text-align: left;
    /*height: 100%;*/
}

.emuwebapp-bottomPane {
    margin-top: 20px;
    /*background-color: blue;*/
    text-align: left;
    overflow: auto;
}

.emuwebapp-dialogButton {
    width: 120px !important;
}

.emuwebapp-dialogExport {
    width: 120px !important;
    min-width: 120px !important;
}

/*preview minimap canvas*/
.emuwebapp-previewCanvasContainer {
    position: relative;
    width:calc(100% - 30px); 
    height: 38px !important; 
    min-height: 38px !important; 
    margin-top:5px;

}


.emuwebapp-previewCanvas {
    position: absolute;
    border: 1px solid gray;
    background: #E7E7E7;
    /*box-shadow: 0px 1px 2px #000;*/
    width: 100%;
    height: 100%
}

.emuwebapp-previewMarkupCanvas {
    position: absolute;
    background-color: transparent;
    /*box-shadow: 0px 1px 2px #000;*/
    width: 100%;
    height: 100%;
}



.emuwebapp-labelEdit {
    z-index:1;
    text-align:center;
    padding:0;
    margin:0;
    border: 1px #000;
    outline: none;
    resize: none;
    background-color:rgba(255,255,0,1);
    /*box-shadow: 0px 0px 25px #eeee00;*/
    font-size:12px; 
    vertical-align: middle !important;   
}

.emuwebapp-aboutDiv {
    text-align:justify;
    margin-left: 10px;
    margin-right: 10px;
    width: 90%;
}

.emuwebapp-aboutHr {
    margin-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

.emuwebapp-aboutTable {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;

}

.emuwebapp-aboutTable tr {
    border: 0px;
    border-bottom: 1px dotted #999;
    margin-bottom: 12px;
    margin-top: 12px;
}

.emuwebapp-aboutTable tr td:first-child {
    width: 40%;
}

.emuwebapp-aboutTable tr td {
    width: 60%;
}


