/** 
    ###################################
        main controller css
    ###################################
*/

.emuwebapp * {
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
}

.emuwebapp {
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.emuwebapp > .emuwebapp-MainCtrl {
    display: flex;
    /*flex-direction: row;*/
    background-color: pink;
    position: absolute;
    /*top: 100px;*/
    /*left: 0;*/
    width: 100%;
    height: 100%;
}

.emuwebapp > .emuwebapp-MainCtrl > .emuwebapp-mainWindow {
    flex: 1;
    display: flex;
    flex-direction: column;
    /*position:relative;*/
    /*top: 40px;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 50%;*/
    background-color: red;
}

.emuwebapp > .emuwebapp-MainCtrl > .emuwebapp-mainWindow > .emuwebapp-allCans {
    flex: 1;
    position:relative;
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*min-height: 100%;*/
    background-color: white;
    z-index:1;
}

.emuwebapp-topPane {
    /*overflow: auto;*/
    /*background-color: green;*/
    text-align: left;
    /*height: 100%;*/
    position: absolute;
}

.emuwebapp-bottomPane {
    margin-top: 20px;
    /*background-color: blue;*/
    text-align: left;
    overflow: auto;
}

.emuwebapp-dialogButton {
    width: 120px !important;
}

.emuwebapp-dialogExport {
    width: 120px !important;
    min-width: 120px !important;
}

/*preview minimap canvas*/
.emuwebapp-previewCanvasContainer {
    position: relative;
    width:calc(100% - 30px); 
    height: 38px !important; 
    min-height: 38px !important; 
    margin-top:5px;
}

.emuwebapp-previewCanvas {
    position: absolute;
    /*box-shadow: 0px 1px 2px #000;*/
}

.emuwebapp-previewMarkupCanvas {
    position: absolute;
    background-color: transparent;
    /*box-shadow: 0px 1px 2px #000;*/
    width: 100%;
    height: 100%;
}

.emuwebapp-labelEdit {
    z-index:9999;
    position: absolute;
    font-size: 0.8em;
    text-align:center;
    overflow: scroll;
    padding:0;
    margin:0;
    border: 1px #000;
    outline: none;
    resize: none;
    white-space: nowrap;
    background-color:rgba(255,255,0,1);
    box-shadow: 0px 0px 15px #eeee00;
    vertical-align: middle !important;   
}

.emuwebapp-aboutDiv {
    text-align:justify;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    text-align: left;
}

.emuwebapp-enlarge {
    height: 200%;
}

/**-----------------------------*/
.emuwebapp-loginModalTable {
    width: 100%;
    text-align:center;
}

.emuwebapp-bundleListSideBarOuter {
    height: 100%;
}

.emuwebapp-bundleListSideBarInner {
    height: 100%;
}

.emuwebapp-nav-wrap {
	z-index: 99999;
}

.emuwebapp-nav-wrap ul {
	list-style:none;
	position:relative;
}

.emuwebapp-nav-wrap ul li {
	position:relative;
	float:left;
	margin:0;
	padding:0;
	width: 100%;
	padding-right: 4px;
}

.emuwebapp-nav-wrap ul ul {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	margin:0px;
	margin-left: 2px;
}

.emuwebapp-nav-wrap ul ul li {
	float:none;
	width:150px
}

.emuwebapp-nav-wrap ul ul a {
	z-index: 99999;	
}

.emuwebapp-nav-wrap ul ul ul {
	top:0;
	left:100%
	z-index: 99999;
}

.emuwebapp-nav-wrap ul li:hover > ul {
	display:block;
	z-index: 99999;
}

.emuwebapp-toggle-button {
  background: transparent;
  border-radius: 0px;
  border: 1px solid white;
  color: white;
  font-size: 0.75em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  margin: 2px;
  margin-top: 5px;
  padding: 1px;
  line-height: 12px;
  text-align: center;
  height: 30px;
  width: 100%;
}

.emuwebapp-nav-wrap ul li:hover > .emuwebapp-toggle-button ,
.emuwebapp-toggle-button:hover {
  background: #fff;
  color: #000;
}
