* {
    text-rendering: optimizeLegibility;
}

html, body{
    overflow: auto;
    overflow-x:hidden;
    height: 100%;
    width:100%;
    padding: 0px;
    margin: 0px;
    z-index: 0;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    transition: all 0.7s ease;    
    background: white;
}

.Tier {
    margin: 0px;
    border: 1px solid gray;
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #1d1f20,#2f3031);
    background: #E7E7E7;
    box-shadow: 0px 1px 2px #000;
    width: 1280px;
    height: 64px;
}

.Label_Edit {
    z-index:9999;
    text-align:center;
    padding:0;
    margin:0;
    border: 1px #000;
    outline: none;
    resize: none;
    background-color:rgba(255,255,0,1);
    box-shadow: 0px 0px 25px #eeee00;
    font-size:12px;    
}
