/*----------------- media queries -----------------**/

@media (min-width: 950px) {
   /* wide browser windows */
     .emuwebapp-mini-btn, .emuwebapp-nav-wrap ul li  {
         width: 9%;
     }
     .emuwebapp-mini-btn-group{
         width: 9%;
     }
     .emuwebapp-mini-btn-group button{
         /*width: 100%;*/
     }

}

@media (min-width: 450px) and (max-width: 950px) {
   /* netbooks/tablets */
     .emuwebapp-mini-btn, .emuwebapp-nav-wrap ul li {
         width: 7.5%;
     }
    .emuwebapp-mini-btn-group{
         width: 7.5%;
     }
    .emuwebapp-mini-btn-group button{
         /*width: 100%;*/
     }
}

@media (max-width: 450px) {
     /* mobile devices */
    .emuwebapp-mini-btn, .emuwebapp-nav-wrap ul li {
        width: 15%;
    }
    .emuwebapp-mini-btn-group{
        width: 15%;
    }
    .emuwebapp-mini-btn {
      width: 15%;
    }
    .emuwebapp-mini-btn {
      width: 15%;
    }
    .emuwebapp-tabbed .emuwebapp-tabbed-menu {
      width: 35%;
    }
}
