.uttFilter input[type="text"]{
    background: url(../img/search-dark.png) no-repeat 10px 6px #fff;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #777;
    width: 75%;
    height: 25px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}


.submenu {
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow-y:auto;
    text-align: left;
    padding: 0px;
    padding-bottom: 40px;
}

.submenu div{
    width: 200px;
    text-align: left;
    padding-left: 10px;
    font-size: 90%;
}

.cbp-spmenu {
    position: fixed;
    width:238px;  
    background: rgb(56,54,62);
    color: #fff;
    border: 0px;
}

.cbp-spmenu-right {
    position: fixed;
    width:238px;  
    background: rgb(56,54,62);
    color: #fff;
    border: 0px;
}
 
.cbp-spmenu h3 {
    /*background: rgba(56,54,62,100);*/
    /*background: rgb(64,62,70);*/
    font-size: 12px;
    /*height:40px;*/
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    /*padding-left:10px;*/
    border-bottom:thin solid white;
}
 
.cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
}
 
/* Vertical menu that slides from the left or right */
 
.cbp-spmenu-left {
    left: -240px;

}

.cbp-spmenu-right {
    right: -240px;

}
 
.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
}
 
.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}
 
.cbp-spmenu-left-toright {
    left: 240px;
    width: -moz-calc(100% - 240px);
    width: -webkit-calc(100% - 240px);
    width: calc(100% - 240px);
}
 
.cbp-spmenu-left-toleft {
    left: 0px;
}

.cbp-spmenu-right-toright {
    right: 240px;
    width: -moz-calc(100% - 240px);
    width: -webkit-calc(100% - 240px);
    width: calc(100% - 240px);
}
 
.cbp-spmenu-right-toleft {
    right: 0px;
}

 