.cbp-spmenu {
    position: fixed;
    width:238px;  
    background: #fff; 
    border: 0px;
}
 
.cbp-spmenu h3 {
    background: #0DC5FF;
    font-size: 16px;
    height:40px;
    margin: 0;
    padding-left:10px;

}
 
.cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
}
 
/* Vertical menu that slides from the left or right */
 
.cbp-spmenu-left {
    left: -240px;

}
 
.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
}
 
.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}
 
.cbp-spmenu-push-toright {
    left: 240px;
    
}
 
.cbp-spmenu-push-toleft {
    left: -240px;
}
 
/* Transitions */

.menu,
.tierPush,
.timeline,
.menu-bottom,
.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.02s ease;
    -moz-transition: all 0.02s ease;
    transition: all 0.02s ease;
}
 