@import 'EMUwebAppDesign';
@import 'font';
@import 'mixins';

.emuwebapp-modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-transparent-black;
    z-index: 99998;
    opacity:0;
    pointer-events: none;
    @include vendor-prefix(transition, "opacity "+$animation-period/2+"ms ease-in");
    > div {
        width: 84%;
        height: 90%;
        position: relative;
        margin-left: 8%;
        margin-right: 8%;
        margin-top: 3%;
        background: #fff;
    }
    .emuwebapp-close {
        background: $color-white;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 30px;
        height: 30px;
        text-decoration: none;
        font-weight: bold;
        @include vendor-prefix(box-shadow, "1px 1px 3px "+$color-transparent-grey);
        @include vendor-prefix(border-radius, "15px");
        z-index: 99999;
        &:hover {
            background: $color-blue;
            text-decoration: none;
        }
    }
    
   .emuwebapp-add-signal {
   		clear: both;
   		display: inline-block;
    	background: $color-white;
        text-decoration: none;
        font-weight: bold;
        @include vendor-prefix(box-shadow, "1px 1px 3px "+$color-transparent-grey);
        @include vendor-prefix(border-radius, "15px");
        z-index: 99999;
        &:hover {
            background: $color-blue;
            text-decoration: none;
        }
        img {
            text-align: right;
        }
    }     
    
   .emuwebapp-delete-signal {
    	@extend .emuwebapp-add-signal;
    	float: right;
    }     
    
    .emuwebapp-delete {
	    @extend .emuwebapp-font-small;
	    float: right;
        position: relative;
        top: -10px;
        right: -10px;
        width: 30px;
        height: 30px;
    }  
      

    .emuwebapp-modal-inner {
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        margin-top: 0;
        margin-bottom: 0;
    }
    .emuwebapp-signalcanvas {
    	list-style-type: none;
    	width: 50%;
    	margin-left: 25%;	
    	li {
    	    list-style-type: none;
    	    background-color: $color-blue;
    	    margin: 10px;
    	    padding: 3px; 
    	}
    }
}

.emuwebapp-modal-list {
    width:  300px;
}

.emuwebapp-modal-wrap {
    width:  100%;
    height: 100%;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    @extend .emuwebapp-font-small;

    > .emuwebapp-modal-header {
		position: absolute;
		background-color: $color-blue;
		height: 60px;
		left:0;
		top:0;
		width: 100%;
		h2 {
			padding-top: 17px;
			color: $color-black;
			@extend .emuwebapp-font-large;
		}
		h3 {
			padding-top: 17px;
			color: $color-black;
			@extend .emuwebapp-font-large;
		}
	}
}

.emuwebapp-modal-open {
	opacity:1;
	pointer-events: auto;
}

.emuwebapp-modal-URL-input {
  min-width: 60%;
  overflow: auto;
}


.emuwebapp-modal-body {
    height: calc(100% - 120px);
    width: 100%;
    top: 60px;
    padding: 0;
    bottom: 60px;
    position: relative;
	clear: both;
	overflow-y: auto;
    overflow-x: hidden;
    background-color: $color-darkGrey;
    color: $color-white;
    /*
	&::-webkit-scrollbar {
		width: 17px;  /!* for vertical scrollbars *!/
		height: 0px; /!* for horizontal scrollbars *!/
	}
	&::-webkit-scrollbar-track {
		background: $color-blue;
	}
	&::-webkit-scrollbar-thumb {
		background: $color-lightGrey;
	}
    */
	select {
	    margin: 3px;
	}

	select[name=url] {
	    min-width: 80%;
	    overflow: auto;
	}

	hr {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.emuwebapp-modal-hierarchy {
    background: $color-lightGrey;
}

.emuwebapp-modal-footer {
    height: 60px;
    width:100%;
    position: absolute;
    background-color: $color-blue;
    left: 0;
    bottom: 0;
    button {
		margin-top: 15px;
        vertical-align: top;
	}
}

.emuwebapp-exportdata {
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
    color: #444;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    white-space: pre-wrap;
    @include vendor-prefix(tab-size, "5");
}

.emuwebapp-modalUl{
	padding: 10px;
}
