/**###############################
    progress thing CSS
    see: progress thing directive
*/


.emuwebapp-progressThing {
    background-color: black;
    color: white;
    width: 100%;
    height: 20px;

    background-image:
        -webkit-linear-gradient(
        -45deg,
        rgba(150, 150, 150, 1) 25%,
        transparent 25%,
        transparent 50%,
        rgba(150, 150, 150, 1) 50%,
        rgba(150, 150, 150, 1) 75%,
        transparent 75%,
        transparent
    );
    background-image:
        -moz-linear-gradient(
        -45deg,
        rgba(150, 150, 150, 1) 25%,
        transparent 25%,
        transparent 50%,
        rgba(150, 150, 150, 1) 50%,
        rgba(150, 150, 150, 1) 75%,
        transparent 75%,
        transparent
    );
    background-image:
        -ms-linear-gradient(
        -45deg,
        rgba(150, 150, 150, 1) 25%,
        transparent 25%,
        transparent 50%,
        rgba(150, 150, 150, 1) 50%,
        rgba(150, 150, 150, 1) 75%,
        transparent 75%,
        transparent
    );
    background-image:
        linear-gradient(
        -45deg,
        rgba(150, 150, 150, 1) 25%,
        transparent 25%,
        transparent 50%,
        rgba(150, 150, 150, 1) 50%,
        rgba(150, 150, 150, 1) 75%,
        transparent 75%,
        transparent
    );
    -webkit-background-size:50px 50px;
    -moz-background-size:50px 50px;
    -ms-background-size:50px 50px;
    background-size:50px 50px;
/*    -webkit-animation:emuwebapp-move 2s linear infinite;
    -moz-animation:emuwebapp-move 2s linear infinite;
    -ms-animation:emuwebapp-move 2s linear infinite;
    animation:emuwebapp-move 2s linear infinite;*/
    overflow: hidden;
    -webkit-box-shadow:inset 0 10px 0 rgba(255,255,255,.2);
    -moz-box-shadow:inset 0 10px 0 rgba(255,255,255,.2);
    -ms-box-shadow:inset 0 10px 0 rgba(255,255,255,.2);
    box-shadow:inset 0 10px 0 rgba(255,255,255,.2);
}
/*
Animate the stripes
*/   
@-webkit-keyframes emuwebapp-move{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}    
@-moz-keyframes emuwebapp-move{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}    
@-ms-keyframes emuwebapp-move{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}    
@keyframes emuwebapp-move{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}  

.emuwebapp-expandHeightTo20px{
  height: 20px;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
}

.emuwebapp-shrinkHeightTo0px{
  height: 0;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
}  