/* minimal CSS */
 .righSideMenu {
    position: fixed;
    top: 90px;
    right: -1px;
    height: 20px;
    width: 15px;
    background-color: #0DC5FF;
    box-shadow: 0 0 5px 2px #ccc;
    color: gray;
    border-radius: 2px;
    z-index: 1000;
}


.rightSideMenuOpenBtn img{
  content:url(images/rightSideMenuBtn.png);
  width: 80%;
  padding-top: 2px;
  padding-bottom: 2px;
  /*height: 70%;*/
  border-style: none;
  border: 0px;
  border-radius: 0px;
}