@import 'EMUwebAppDesign';
@import 'font';
@import 'mixins';

/* rightSideMenu CSS */

.emuwebapp-right-menu {
    position: absolute;
    top: 40px;
    right: -200px;
    height: -moz-calc(100% - 133px);
    height: -webkit-calc(100% - 133px);
    height: calc(100% - 133px);
    width: 200px;
    background-color: $color-white;
    color: #000;
    border: thin solid $color-black;
    border-width: 0px 0px 0px 1px;
    z-index: 1000;
    @extend .emuwebapp-font-small;
    h3{
        font-size: 1.5em;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: thin solid $color-black;
        overflow: hidden;
    }
    ul{
        margin: 10px;
        text-align: left;
        overflow: hidden;
    }
    > button {
        position: absolute;
        top: 125px;
        left: -15px;
        height: 22px;
        width: 15px;
        background: $color-white;
        @include vendor-prefix(box-shadow, "-2px 1px 5px "+$color-transparent-black);
        border-style: solid;
        border-width: 1px 0 1px 1px;
        border-color: $color-black;
        z-index: 2001;
        img{
            width: 10px;
            height: 20px;
            padding-bottom: 0;
            border-style: none;
            border: 0px;
            border-radius: 0px;
            filter: invert(100%);
        }
        &:active {
            background: $color-white;
        }
        &:focus {
            outline: none;
        }
    }
    .emuwebapp-curSelPerspLi{
        border-bottom:thin solid $color-transparent-grey;
        padding: 10px !important;
        margin: 4px !important;
        font-size: 1.2em;
        background-color: $color-grey;
    }
    .emuwebapp-perspLi{
        border-bottom:thin solid $color-transparent-grey;
        padding: 10px !important;
        margin: 4px !important;
        font-size: 1.2em;
        overflow: hidden;
        &:hover{
            background-color: $color-transparent-lightGrey;
        }
    }
}
