

/* minimal CSS */
 .righSideMenu {
    position: fixed;
    top: 90px;
    right: -1px;
    height: 20px;
    width: 20px;
    background-color: white;
    box-shadow: 0 0 5px 2px #ccc;
    color: gray;
    border-radius: 2px;
    z-index: 1000;
}