/* rightSideMenu CSS */

.emuwebapp-rightSideMenu {
  position: absolute;
  top: 40px;
  right: 0px;
  height: -moz-calc(100% - 127px);
  height: -webkit-calc(100% - 127px);
  height: calc(100% - 127px);
  width: 0;
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 5px 2px #ccc;
  border-radius: 2px;
  z-index: 1000;
  font-size: 0.9em;
}


.emuwebapp-rightSideMenu h3{
  font-size: 1.5em;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom:thin solid black;
  overflow: hidden;
}

.emuwebapp-rightSideMenu ul{
  margin: 10px;
  /*padding-left: 10px;*/
  /*padding-right: 10px;*/
  text-align: left;
  overflow: hidden;
}

.emuwebapp-curSelPerspLi{
  border-bottom:thin solid rgba(152, 152, 152, 0.25);;
  padding: 15px;
  background-color: #999;
}

.emuwebapp-perspLi{
  border-bottom:thin solid rgba(152, 152, 152, 0.25);;
  padding: 15px;
  overflow: hidden;
}


.emuwebapp-perspLi:hover{
  background-color: rgba(152, 152, 152, 0.28);
}


.emuwebapp-rightSideMenuOpenBtn {
  position: absolute;
  top: 120px;
  left: -15px;
  height: 25px;
  width: 15px;
  background-color: #FFF;
  box-shadow: -3px 0 5px 1px #ccc;
  /*border-radius: 2px;*/
  border-style: none;
  z-index: 1001;
}

.emuwebapp-rightSideMenuOpenBtn img{
  width: 100%;
  height: 80%;
  /*padding-top: 2px;*/
  /*padding-bottom: 2px;*/
  padding: 2px  ;
  border-style: none;
  border: 0px;
  border-radius: 0px;
}

.emuwebapp-rightSideMenuOpenBtn:active {
  background: #fff;
}

.emuwebapp-rightSideMenuOpenBtn:focus {
  outline: none;
}

.emuwebapp-expandWidthTo200px{
  width: 200px;
  -webkit-transition: width 0.4s;
  -moz-transition: width 0.4s;
  transition: width 0.4s;
}

