@import 'EMUwebAppDesign';
@import 'font';
@import 'mixins';

/* emuwebapp-split-panes CSS */

.emuwebapp-2d-map {
    position: absolute;
    right: 0px;
    top: calc(100% - 200px);
    height: 200px;
    width: 200px;
    background-color: $color-lightGrey;
    color: $color-black;
    box-shadow: -4px -4px 18px -4px $color-transparent-black;
    border-radius: 0px;
    z-index: 1000000;
    .corner {
        position: absolute;
        height: 10px;
        width: 10px;
        border-top: 1px solid $color-grey;
        border-left: 1px solid $color-grey;
        cursor: nwse-resize;
        background: linear-gradient(135deg,
            $color-white 30%,
            $color-black 30%, $color-black 40%,
            $color-white 40%, $color-white 50%,
            $color-black 50%, $color-black 60%,
            $color-white 60%, $color-white 70%,
            $color-black 70%, $color-black 80%,
            $color-white 80%
        );
    }
    .top {
        position: absolute;
        left: 10px;
        height: 10px;
        width: calc(100% - 10px);
        background-color: $color-white;
        border-top: 1px solid $color-grey;
        border-bottom: 1px solid $color-grey;
        cursor: ns-resize;
    }    
    .left{
        position: absolute;
        height: calc(100% - 10px);
        top: 10px;
        width: 10px;
        background-color: $color-white;
        border-left: 1px solid $color-grey;
        border-right: 1px solid $color-grey;
        cursor: ew-resize;
    }
}
.emuwebapp-split-panes {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    position: absolute;
    > .emuwebapp-split-handler {
        background: $color-white;
        position: absolute;
        z-index: 999;
    }
/* Horizontal */ 
    &.horizontal > .emuwebapp-split-handler {
        width: 4px;
        top: 0px; 
        left: 50%;
        bottom: 0px;
        cursor: ew-resize;
    }
    &.horizontal > .split-pane1 {
        position: absolute;
        height: 100%;
        width: 50%; 
    }
    &.horizontal > .split-pane2 {
        position: absolute;
        height: 100%;
        left: 50%;
        right: 0px;
        border-left: 1px solid $color-white;
    }
/* Vertical */
    &.vertical > .emuwebapp-split-handler {
        height: 14px !important;
        width: 100%;
        top: 50%; 
        left: 0px;
        right: 0px;
        cursor: ns-resize;
        vertical-align: middle;
        text-align: center;
        border-top: 1px solid #111;
        border-bottom: 1px solid #111;
        border-left: 0px;
        border-right: 0px;
        &:before {
            content: "";
            position: absolute;
            left: calc(50%-20px);
            top: 0.21em;
            bottom: 0.21em;
            width: 20px;
            background: linear-gradient(180deg,
                $color-black, $color-black 20%, 
                $color-white 20%, $color-white 40%, 
                $color-black 40%, $color-black 60%, 
                $color-white 60%, $color-white 80%, 
                $color-black 80%, $color-black 100%
            );
        }
    }
    &.vertical > .split-pane1 {
        position: absolute;
        width: 100%;
        height: 50%; 
    }
    &.vertical > .split-pane2 {
        position: absolute;
        width: 100%;
        z-index: 100;
        top: 50%;
        bottom: 0px;
    }
    &.vertical {
        z-index: 0 !important;
    }
} 
