/* emuwebapp-split-panes CSS */

.emuwebapp-split-panes 
{
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  position: absolute;
}

.emuwebapp-split-panes > .emuwebapp-split-handler 
{
  background: white;
  position: absolute;
  z-index: 999;
}

/* Horizontal */ 

.emuwebapp-split-panes.horizontal > .emuwebapp-split-handler
{
  width: 4px;
  top: 0px; 
  left: 50%;
  bottom: 0px;
  cursor: ew-resize;
}

.emuwebapp-split-panes.horizontal > .split-pane1,
.emuwebapp-split-panes.horizontal > .split-pane2 {
  position: absolute;
  height: 100%;
}

.emuwebapp-split-panes.horizontal > .split-pane1 {
  width: 50%; 
}

.emuwebapp-split-panes.horizontal > .split-pane2 {
  left: 50%;
  right: 0px;
  border-left: 1px solid #aaa;
}


/* Vertical */

.emuwebapp-split-panes.vertical > .emuwebapp-split-handler
{
  height: 10px;
  width: 100%;
  top: 50%; 
  left: 0px;
  right: 0px;
  cursor: ns-resize;
  /*border: 1px solid gray;*/
  vertical-align: middle;
}


.emuwebapp-split-handler img{
    /*content:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAICAYAAAB3R5aRAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ%0AbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdp%0Abj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8%2BIDx4OnhtcG1ldGEgeG1sbnM6%0AeD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0%0AMDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJo%0AdHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlw%0AdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAv%0AIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RS%0AZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpD%0AcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIE1hY2ludG9zaCIgeG1wTU06SW5zdGFu%0AY2VJRD0ieG1wLmlpZDo5OTk4MkU4RTY3RUQxMUUxQkIzNUE4NUQxNkQxNUNBMCIgeG1wTU06RG9j%0AdW1lbnRJRD0ieG1wLmRpZDo5OTk4MkU4RjY3RUQxMUUxQkIzNUE4NUQxNkQxNUNBMCI%2BIDx4bXBN%0ATTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjk5OTgyRThDNjdFRDExRTFC%0AQjM1QTg1RDE2RDE1Q0EwIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjk5OTgyRThENjdFRDEx%0ARTFCQjM1QTg1RDE2RDE1Q0EwIi8%2BIDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY%2BIDwveDp4%0AbXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8%2BOC7QPQAAAC9JREFUOMtjMDU1rQDi/wOI2xnu37/P%0AAcRCA4i5GIAuGVAMdAQDw2h0jEbHYIwOAMpY057wYI5yAAAAAElFTkSuQmCC%0A') center center no-repeat;*/
    /*vertical-align: middle;*/
}

.emuwebapp-split-panes.vertical > .split-pane1,
.emuwebapp-split-panes.vertical > .split-pane2
{
  position: absolute;
  width: 100%;
}

.emuwebapp-split-panes.vertical > .split-pane1
{
  height: 50%; 
}

.emuwebapp-split-panes.vertical > .split-pane2
{ z-index: 100;
  top: 50%;
  bottom: 0px;
  /*border-top: 10px solid #aaf;*/
}

/** 
    ###################################
    Background Pane Splitter CSS
*/

.emuwebapp-split-handler {

}

.emuwebapp-split-panes.vertical {
    z-index: 0 !important;
}

.emuwebapp-split-panes.vertical > .emuwebapp-split-handler {
    height: 14px !important;
    text-align: center;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    border-left: 0px;
    border-right: 0px;
}

.emuwebapp-split-panes.vertical > .emuwebapp-split-handler:before {
  content: "";
  position: absolute;
  left: calc(50%-20px);
  top: 0.21em;
  bottom: 0.21em;
  width: 20px;
  background: linear-gradient(180deg,
    black, black 20%, 
    white 20%, white 40%, 
    black 40%, black 60%, 
    white 60%, white 80%, 
    black 80%, black 100%
    );
}

