@import 'EMUwebAppColors';

.emuwebapp-tabbed {
    margin: 0px;
    padding: 0px;
    text-align: center;
    position: relative;
    overflow-x: hidden;	
    top: 0;
    left: 0;  
    height: 100%;  
}

.emuwebapp-tabbed-view {
    border: 0px;
	clear: both;
	overflow-y: -moz-scrollbars-vertical;
	overflow-y: scroll;
	overflow-x: hidden;	
	padding-top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0px;
    max-width: 100%;   
}

.emuwebapp-tabbed-error {
    color: #f00; 
    margin-left: 10px;
    width: 100%;
    font-size: 1.1em;
}

.emuwebapp-roundedBorderFrame {
	border: 1px solid;
    border-radius: 10px;
    text-align: left;
    background: #fff;    
    margin-bottom: 15px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    font-size: 0.9em;
}

.emuwebapp-roundedBorderFrame-new {
	border: 1px solid;
    border-radius: 10px;
    text-align: left;
    background: #bbb;    
    margin-bottom: 15px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    font-size: 0.9em;
}

.emuwebapp-borderDashed {
	border-style: dashed;
	padding-top: 25px;
}

.emuwebapp-tabbed-attributeSpace {
    margin: 0;
    padding: 0;
    padding-right: 20px;
    display: inline-block;
}

.emuwebapp-tabbed-close, 
.emuwebapp-tabbed-delete, 
.emuwebapp-tabbed-delete-small, 
.emuwebapp-tabbed-add,
.emuwebapp-tabbed-add-small {
	background: #606061;
	color: #FFFFFF;
	line-height: 18px;
	text-align: center;
	width: 18px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
	z-index: 99999;
	text-decoration: none;
}
.emuwebapp-tabbed-close {
    position: absolute;
	right: -9px; 
	top: -9px;	   
}
.emuwebapp-tabbed-delete {
    display: inline-block;
    margin-left: 20px;
}
.emuwebapp-tabbed-delete-small {
    display: inline-block;
    margin-left: 10px;
    width: 9px;
    line-height: 9px;
    font-size: 0.5em;
}
.emuwebapp-tabbed-add {
    display: inline-block;
}
.emuwebapp-tabbed-add-small {
    display: inline-block;
    width: 9px;
    line-height: 9px;
    font-size: 0.5em;    
}
.emuwebapp-tabbed-close:hover, .emuwebapp-tabbed-delete:hover { 
    background: #00d9ff;
    text-decoration: none; 
}

.emuwebapp-tabbed-close:active, .emuwebapp-tabbed-delete:active { 
    background: #f00;
    color: #000;
    text-decoration: none; 
}

.emuwebapp-borderTitle {
    position: absolute;
	top: -12px; 
	left: 5px;	
	background-color: #fff;
}

.emuwebapp-borderTitle-new {
    position: absolute;
	top: -12px; 
	left: 5px;	
	background-color: #bbb;
}


.emuwebapp-tabbed ::-webkit-scrollbar {
    width: 20px;  /* for vertical scrollbars */
    height: 0px; /* for horizontal scrollbars */
}

.emuwebapp-tabbed ::-webkit-scrollbar-track {
    background: $EMUwebApp-blue;
}

.emuwebapp-tabbed ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.75);
}

.emuwebapp-tabbed-table {
    display:table;
    width: 100%;
}
.header {
    display:table-header-group;
    font-weight:bold;
}
.emuwebapp-tabbed-rowGroup {
    display:table-row-group;
}
.emuwebapp-tabbed-row {
    display:table-row;
    width: 100%;
    vertical-align: top;    
}
.emuwebapp-tabbed-cellfull {
    display:table-cell;
    width: 100%;
    vertical-align: top;
}
.emuwebapp-tabbed-cell {
    display:table-cell;
    width: 50%;
    vertical-align: top;
}
.emuwebapp-tabbed-cell3 {
    display:table-cell;
    width: 33%;
    vertical-align: top;
}
.emuwebapp-tabbed-cell4 {
    display:table-cell;
    width: 25%;
    vertical-align: top;
}
.emuwebapp-tabbed-cell5 {
    display:table-cell;
    width: 20%;
    vertical-align: top;
}
.emuwebapp-align-right {
    text-align: right;
    padding-right: 10px;
}
.emuwebapp-tabbed-input, .emuwebapp-tabbed-input-bold, .emuwebapp-tabbed-input-small {
    overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 2px;
	background: #fff;
}
.emuwebapp-tabbed-input {
    font-size: 0.9em;
    border: 1px solid #666;
}
.emuwebapp-tabbed-input-bold {
    font-size: 1.1em;
    border: 1px solid $EMUwebApp-blue;
}
.emuwebapp-tabbed-input-small {
    width: 50%;
    font-size: 0.8em;
    border: 1px solid #666;    
}
.emuwebapp-tabbed-order {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 2px;
    width: 100%;
}
.emuwebapp-tabbed-orderitem {
    background: #fff;
    border: 1px solid $EMUwebApp-blue;
    margin: 4px;
    padding: 4px;
    cursor: move;
    width: 300px !important;
}
.emuwebapp-tabbed-orderitemdelete {
    top: -5px;
    right: -5px;
}
.emuwebapp-tabbed-assignitem {
    vertical-align: top;
}
.emuwebapp-tabbed-rowframe {
	border: 0px;
    border-radius: 10px;
    text-align: left;
    background: linear-gradient(#f1f1f1, #e2e2e2);    
    margin-bottom: 5px;
    padding: 5px;
}
