.emuwebapp-tabbed {
    margin-top: -40px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;  
    height: 100%;  
}

.emuwebapp-tabbed :after {
    content: '';
    clear: both;
    display: block;
}

.emuwebapp-tabbed-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.emuwebapp-tabbed-li {
    float: left;
    border: 1px solid #fff;
    border-bottom-width: 0;
    border-top-width: 0;
    border-left-width: 0;
    margin: 0px;
    padding: 10px;
    background-color: #0DC5FF;
    color: #777;
    font-size: 1.1em;
    width: 20%;
    cursor: pointer;
}
.emuwebapp-tabbed-li:last-child {
    border-right-width: 0;
}
.emuwebapp-tabbed-view {
    border: 0px;
	clear: both;
	overflow-y: -moz-scrollbars-vertical;
	overflow-y: scroll;
	overflow-x: hidden;	
	padding-top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 12px;
}

.emuwebapp-roundedBorderFrame {
	border: 1px solid;
    border-radius: 10px;
    text-align: left;
    background: #efefef;
    margin-bottom: 15px;
    padding: 10px;
    position: relative;
}

.emuwebapp-borderDashed {
	border-style: dashed;
	padding-top: 25px;
}

.emuwebapp-tabbed-attributeSpace {
    margin: 0;
    padding: 0;
    padding-right: 20px;
    display: inline-block;
}

.emuwebapp-tabbed-close, .emuwebapp-tabbed-delete, .emuwebapp-tabbed-add {
	background: #606061;
	color: #FFFFFF;
	line-height: 18px;
	text-align: center;
	width: 18px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
	z-index: 99999;
	text-decoration: none;
}

.emuwebapp-tabbed-close {
    position: absolute;
	right: -9px; 
	top: -9px;	   
}

.emuwebapp-tabbed-delete {
    display: inline-block;
    margin-left: 20px;
}

.emuwebapp-tabbed-add {
    display: inline-block;
}

.emuwebapp-tabbed-close:hover, .emuwebapp-tabbed-delete:hover { 
    background: #00d9ff; 
}

.emuwebapp-borderTitle {
    position: absolute;
	top: -12px; 
	left: 5px;	
	font-size: 1.2em;
	background-color: #efefef;
}


.emuwebapp-tabbed ::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

.emuwebapp-tabbed ::-webkit-scrollbar-track
{
  background: #0DC5FF;
}

.emuwebapp-tabbed ::-webkit-scrollbar-thumb
{
  background: rgba(255, 255, 255, 0.75);
}

.emuwebapp-tabbed-table {
    display:table;
    width: 100%;
}
.header {
    display:table-header-group;
    font-weight:bold;
}
.emuwebapp-tabbed-rowGroup {
    display:table-row-group;
}
.emuwebapp-tabbed-row {
    display:table-row;
    width: 100%;    
}
.emuwebapp-tabbed-cell {
    display:table-cell;
    width: 50%;
}
.emuwebapp-tabbed-cell3 {
    display:table-cell;
    width: 33%;
}
.emuwebapp-align-right {
    text-align: right;
    padding-right: 10px;
}