@import 'EMUwebAppDesign';
@import 'font';
@import 'mixins';

.emuwebapp-text {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  padding-left: 18px;
  padding-right: 18px;
  word-wrap: break-word;
  padding-bottom: 120px;
  input.ng-invalid.ng-touched {
    background-color: $color-red;
  }
  @extend .emuwebapp-font-small;
  .red {
  	color: #f00;
  }
  .emuwebapp-sort-line {
   border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
  }
    .emuwebapp-sortOuter {
      list-style-type: none;
      text-align: left;
    }
    .emuwebapp-sort {
      list-style-type: none;
      	width: 60%;
      	margin-top: 15px;
      	margin-bottom: 15px;
      	margin-left: 20%;
      li {
      	border: 1px dashed $color-white;
      }
      li:hover {
          background: $color-blue;
          cursor: n-resize;
      }
    }
    input {
        @extend .emuwebapp-font-input;
        @include vendor-prefix(user-select, "none");
        @include vendor-prefix(box-sizing, "content-box");
        outline: none;
    }
    @include vendor-prefix(user-select, "text !important");

    strong{
      font-weight: bold !important;
    }
    div {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 0;
        p {
            text-align: left;
        }
        span {
            text-align: center;
            @extend .emuwebapp-font-small;
        }
    }
    img[alt=icon] {
      width: 100px;
    }
    h1, h2, h3 {
      position: relative;
      margin-top: 1em;
      margin-bottom: 16px;
      padding-bottom: 0.3em;
      line-height: 1.255;
      display: block;
      //text-align: left;
      @extend .emuwebapp-font-large;
    }
    h1{
      font-size: $font-large-size * 1.7;
      font-weight: bold;
      border: 1px solid $color-white;
    }
    h2{
      font-size: $font-large-size * 1.3;
      font-weight: bold;
      border-bottom: 1px solid #555;
    }

  h3 {
      position: relative;
      margin-top: 1em;
      margin-bottom: 5px;
      padding-bottom: 0.3em;
      line-height: 1.255;
      border-bottom: 1px solid #eee;
      display: block;
      text-align: left;
      font-weight: bold !important;
      @extend .emuwebapp-font-large;
    }
    h4 {
      position: relative;
      margin-top: 1em;
      margin-bottom: 5px;
      padding-bottom: 0.3em;
      line-height: 1.255;
      border-bottom: 1px solid #eee;
      display: block;
      text-align: left;
      @extend .emuwebapp-font-large;
    }
    pre {
		padding: 16px;
		overflow: auto;
		line-height: 1.45;
		background-color: #f7f7f7;
		border-radius: 3px;
		word-wrap: normal;
		font-size: 0.9em;
		@extend .emuwebapp-font-code;
    }
    img {
		display: block;
		margin-left: auto;
		margin-right: auto;
    }
    p{
      line-height: 150%;
    }
    p img {
        text-align: center;
    }
    pre {
        text-align: left;
        color: $color-black;
    }
/*    p, h3, pre {
        padding-left: 35px;
        padding-right: 35px;
    }*/
    ul{
      margin-left: 100px;
      padding: 50px;
      list-style-position: inside;
      padding-left: 35px;
    }
    ul li{
      list-style-type: disc;
    }
    ul li, p, div, strong, em, a, code, h3, th, td, b {
	  text-align: left;
      font-size: 16px !important;
      @include vendor-prefix(user-select, "text !important");
	}
    div{
      text-align: center;
    }
	span {
	    display: block;
	    font-size: 1.2em;
	    text-align: center;
	    line-height: 0.85;
	}
	small {
		@extend .emuwebapp-font-small;
		text-align: center;
		font-size: 0.7em;
	}
	alert {
      display: block;
      text-align: center;
      color: #a94442;
      background-color: #f2dede;
      border: 3px dashed #ebccd1;
      border-radius: 3px;
      margin: 5px;
      margin-top: 25px;
      margin-bottom: 25px;
	}
  table{
    margin: auto;
    text-align: left;
    max-width: 500px;
    width: 500px !important;
    th{
      background-color: $color-white;
      font-weight: bold;
      text-align: center;
      text-decoration: underline;
      padding: 10px;
      @extend .emuwebapp-font-large;
    }
    tr{
      width: 500px !important;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 2px;
      padding-right: 2px;
      &:nth-child(even) {
        background: $color-lightGrey;
        color: $color-black;
      }
      &:nth-child(odd) {
        background: $color-grey;
      }
    }
    td {
      @extend .emuwebapp-font-large;
      padding: 10px;
      &:nth-child(even) {
        text-align: right;
      }
    }

  }

}
.emuwebapp-link {
    cursor: pointer;
}
