.emuwebapp-menuBarTop {
    height:40px;
    background: #0DC5FF;
    -webkit-touch-callout: none;
    text-align:left;
}

.emuwebapp-menuBarBottom {
    width:100%;
    height:87px;
    background: #0DC5FF;
    -webkit-touch-callout: none;
    text-align:left;
    padding-left:5px;
    padding-bottom:5px;
}

.emuwebapp-SideMenuBtn2 img {
    width: 28px;
    height:28px;
}

.emuwebapp-SideMenuBtn, .emuwebapp-SideMenuBtn2 {
    display:inline-block;
    position: relative;
    background: transparent;
    /*padding-top: 7px;*/
    border: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    top: 0px;
}

.emuwebapp-aboutBtn{
    padding-top: 7px;
    cursor: pointer;
}


.emuwebapp-SideMenuBtn img {
    width: 20px;
    height:20px;
}

.emuwebapp-SideMenuBtn:active, .emuwebapp-SideMenuBtn2:active {
    background: #fff;
}

.emuwebapp-SideMenuBtn:focus, .emuwebapp-SideMenuBtn2:focus {
    outline: none;
}

.emuwebapp-mini-btn, .emuwebapp-mini-btn-dialog {
    background: transparent;
    border-radius:0px;
    border:1px solid white;
    color:white;
    font-size:0.75em;
    font-weight:bold;
    text-decoration:none;
    text-align:center;
    margin: 2px;
    margin-top: 5px;    
    padding: 1px;
    line-height: 12px;
    text-align:center;
    width: 120px;
    height: 30px;
}

/** only for emuwebapp-mini-btn*/
.emuwebapp-mini-btn{
    float:left;
}

.emuwebapp-mini-btn-group {
    float:left;
}

.emuwebapp-mini-btn-group button{
    background: transparent;
    border-radius:0px;
    border:1px solid white;
    color:white;
    font-size:0.75em;
    font-weight:bold;
    text-decoration:none;
    text-align:center;
    margin: 2px;
    margin-top: 5px;    
    padding: 1px;
    line-height: 12px;
    text-align:center;
    height: 30px;
    width: 97% !important;
    float:left;
}


.emuwebapp-mini-btn-group button:hover:enabled{
    background-color:white;
    color:#000;
}

.emuwebapp-mini-btn-group button:disabled{
    color:rgb(33,217,255);
    border:1px solid rgb(33,217,255);
}


.emuwebapp-mini-btn:hover:enabled {
    background-color:white;
    color:#000;
}

.emuwebapp-mini-btn:disabled {
    color:rgb(33,217,255);
    border:1px solid rgb(33,217,255);
}

.emuwebapp-mini-btn-dialog:hover:enabled {
    background-color:white;
    color:#000;
}

.emuwebapp-mini-btn-dialog:disabled {
    color:rgb(33,217,255);
    border:1px solid rgb(33,217,255);
}


.emuwebapp-mini-btn:active {
    top:1px;
}

/*----------------- media queries -----------------**/

@media (min-width: 950px) {
   /* wide browser windows */
     .emuwebapp-mini-btn {
         width: 9%;
     }
     .emuwebapp-mini-btn-group{
         width: 9%;
     }     
     .emuwebapp-mini-btn-group button{
         /*width: 100%;*/
     }
   
}

@media (min-width: 450px) and (max-width: 950px) {
   /* netbooks/tablets */ 
     .emuwebapp-mini-btn {
         width: 7.5%;
     }
    .emuwebapp-mini-btn-group{
         width: 7.5%;
     }     
    .emuwebapp-mini-btn-group button{
         /*width: 100%;*/
     }
} 

@media (max-width: 450px) {
     /* mobile devices */ 
    .emuwebapp-mini-btn {
        width: 6%;
    }
    .emuwebapp-mini-btn-group{
        width: 6%;
    }     
    .emuwebapp-mini-btn-group button{
        /*width: 100%;*/
    }
}

