@import 'EMUwebAppDesign';
@import 'mixins';


.emuwebapp-SideMenuBtn2 img {
    width: 34px;
    height:34px;
    padding-top: 0;
    padding-bottom: 4px;
}

.emuwebapp-SideMenuBtn, .emuwebapp-SideMenuBtn2 {
    display:inline-block;
    position: relative;
    background: transparent;
    /*padding-top: 7px;*/
    border: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    top: 0px;
}

.emuwebapp-aboutBtn{
    padding-top: 7px;
    cursor: pointer;
}

.emuwebapp-SideMenuBtn img {
    width: 20px;
    height:20px;
}

.emuwebapp-SideMenuBtn:active, .emuwebapp-SideMenuBtn2:active {
    background: #fff;
}

.emuwebapp-SideMenuBtn:focus, .emuwebapp-SideMenuBtn2:focus {
    outline: none;
}

.emuwebapp-mini-btn-group {
    float:left;
}

.emuwebapp-mini-btn-group button{
    background: transparent;
    border-radius:0px;
    border:1px solid white;
    color:white;
    font-size:0.75em;
    font-weight:bold;
    text-decoration:none;
    text-align:center;
    margin: 2px;
    margin-top: 5px;    
    padding: 1px;
    line-height: 12px;
    text-align:center;
    height: 30px;
    width: 97% !important;
    float:left;
}


.emuwebapp-mini-btn-group button:hover:enabled{
    background-color:white;
    color:#000;
}

.emuwebapp-mini-btn-group button:disabled{
    color:rgb(33,217,255);
    border:1px solid rgb(33,217,255);
}




