<div class="emuwebapp-text">
    <h2>What is the official EMU-webApp url? </h2>
    <p>
        The official EMU-webApp is hosted at: <a href="https://ips-lmu.github.io/EMU-webApp/">https://ips-lmu.github.io/EMU-webApp/</a>
    </p>
    <h2>How to cite the EMU-webApp</h2>
    <p>
	<pre>
		<code>
			@InProceedings{WINKELMANN14.429,
			author = {Raphael Winkelmann and Georg Raess},
			title = {Introducing a Web Application for Labeling, Visualizing Speech and Correcting Derived Speech Signals},
			booktitle = {Proceedings of the Ninth International Conference on Language Resources and Evaluation (LREC'14)},
			year = {2014},
			month = {may},
			date = {26-31},
			address = {Reykjavik, Iceland},
			editor = {Nicoletta Calzolari (Conference Chair) and Khalid Choukri and Thierry Declerck and Hrafn Loftsson and Bente Maegaard and Joseph Mariani and Asuncion Moreno and Jan Odijk and Stelios Piperidis},
			publisher = {European Language Resources Association (ELRA)},
			isbn = {978-2-9517408-8-4},
			language = {english}
			}
		</code>
	</pre>
	</p>
</div>