<img src="assets/EMU-webAppIcon-roundCorners.svg" alt="EMU-webApp" style="width: 60px; height:60px; margin: 12px;" />
<div class="emuwebapp-text">
	<span>
		EMU-webApp <br />
    Version: @@versionnr <br />
		&nbsp; <br />
    <small>
			Build time stamp: @@timestamp <br />
			Build GIT SHA-1: @@sha1 <br />
			EMU-webApp-websocket-protocol version: 0.0.2 <br />
		</small>
	</span>
	<alert>
	    <b>Warning!</b> This webApp is still in ALPHA and is not meant to be used in production. <br />
	    So please use with caution! If you have any issues or you find a bug please create an issue on the GitHub project page.
	</alert>
	<!-- ///////////////////////////////////////////// -->
	<div>
	<h4>About</h4>
	<p>
	    The EMU-webApp is an online and offline web application for labeling, visualizing
	    and correcting speech and derived speech data.
	</p>
	<div>
	<div style="height: 100px;">&nbsp;</div>
</div>
