<div class="emuwebapp-text">
	<h1>Keyboard Shortcuts</h1>
	<div>
	<!-- ///////////////////////////////////////////// -->
	<h2>Main Navigation Shortcuts</h2>
	<p>
		<table>
		<tr>
			<th>Keyboard Shortcut</th>
			<th>Function</th>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.toggleSideBarLeft)}}</b></td>
			<td>open bundleList sidebar (left)</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.shift)}}</b> plus <b>{{cps.getStrRep(cps.vals.keyMappings.toggleSideBarLeft)}}</b></td>
			<td>open perspective sidebar (right)</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.showHierarchy)}}</b></td>
			<td>open hierarchy View</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.zoomIn)}}</b></td>
			<td>zoom in <sup>1</sup></td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.zoomOut)}}</b></td>
			<td>zoom out <sup>1</sup></td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.shiftViewPortLeft)}}</b></td>
			<td>move viewport left</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.shiftViewPortRight)}}</b></td>
			<td>move viewport right</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.zoomAll)}}</b></td>
			<td>view all</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.zoomSel)}}</b></td>
			<td>zoom in to selected area</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.selNextPrevItem)}}</b></td>
			<td>preselect next item</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.shift)}} + {{cps.getStrRep(cps.vals.keyMappings.selNextPrevItem)}}</b></td>
			<td>preselect previous item</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.selNextItem)}}</td>
			<td>preselect next item</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.selPrevItem)}}</b></td>
			<td>preselect previous item</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.shift)}}</b> plus <b>{{cps.getStrRep(cps.vals.keyMappings.selNextItem)}}</b></td>
			<td>add next item to preselection</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.shift)}}</b> plus <b>{{cps.getStrRep(cps.vals.keyMappings.selPrevItem)}}</b></td>
			<td>add previous item to preselection</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.selectItemsInSelection)}}</b></td>
			<td>select all items in marked area</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.shift)}}</b> plus <b>{{cps.getStrRep(cps.vals.keyMappings.saveBndl)}}</b></td>
			<td>save current bundle</td>
		</tr>

		</table>
		<small>1.) Zooming while a boundary is preselected will keep the position of that boundary fixed</small>

	</p>
	<!-- ///////////////////////////////////////////// -->
	<h2>Labeling shortcuts</h2>
	<p>
	<table>
		<tr>
			<th>Keyboard Shortcut</th>
			<th>Function</th>
		</tr>
		<tr>
			<td ng-show="cps.vals.restrictions.editItemSize || cps.vals.restrictions.correctionTool"><b>{{cps.getStrRep(cps.vals.keyMappings.undo)}}</b></td>
			<td ng-show="cps.vals.restrictions.editItemSize || cps.vals.restrictions.correctionTool">undo last action</td>
		</tr>
		<tr>
			<td ng-show="cps.vals.restrictions.editItemSize || cps.vals.restrictions.correctionTool"><b>{{cps.getStrRep(cps.vals.keyMappings.shift)}}</b> plus <b>{{cps.getStrRep(cps.vals.keyMappings.undo)}}</b></td>
			<td ng-show="cps.vals.restrictions.editItemSize || cps.vals.restrictions.correctionTool">redo last action</td>
		</tr>
		<tr>
			<td ng-show="cps.vals.restrictions.addItem"><b>{{cps.getStrRep(cps.vals.keyMappings.createNewItemAtSelection)}}</b></td>
			<td ng-show="cps.vals.restrictions.addItem">add boundary / event marker at marked position</td>
		</tr>
		<tr>
			<td ng-show="cps.vals.restrictions.addItem"><b>{{cps.getStrRep(cps.vals.keyMappings.createNewItemAtSelection)}}</b> (when single item is preselected)</td>
			<td ng-show="cps.vals.restrictions.addItem">change label of item</td>
		</tr>
		<tr>
			<td ng-show="cps.vals.restrictions.deleteItemBoundary"><b>{{cps.getStrRep(cps.vals.keyMappings.deletePreselBoundary)}}</b></td>
			<td ng-show="cps.vals.restrictions.deleteItemBoundary">delete preselected boundary / event marker</td>
		</tr>
		<tr>
			<td ng-show="cps.vals.restrictions.deleteItem"><b>{{cps.getStrRep(cps.vals.keyMappings.shift)}}</b> plus <b>{{cps.getStrRep(cps.vals.keyMappings.deletePreselBoundary)}}</b></td>
			<td ng-show="cps.vals.restrictions.deleteItem">delete selected event(s) or segment(s)</td>
		</tr>
		<tr>
			<td ng-show="cps.vals.restrictions.editItemSize"><b>{{cps.getStrRep(cps.vals.keyMappings.snapBoundaryToNearestTopBoundary)}}</b></td>
			<td ng-show="cps.vals.restrictions.editItemSize">snap preselected boundary / event marker to nearest boundary / event marker in level above</td>
		</tr>
		<tr>
			<td ng-show="cps.vals.restrictions.editItemSize"><b>{{cps.getStrRep(cps.vals.keyMappings.snapBoundaryToNearestBottomBoundary)}}</b></td>
			<td ng-show="cps.vals.restrictions.editItemSize">snap preselected boundary / event marker to nearest boundary / event marker in level below</td>
		</tr>
		<tr>
			<td ng-show="cps.vals.restrictions.editItemSize"><b>{{cps.getStrRep(cps.vals.keyMappings.snapBoundaryToNearestZeroCrossing)}}</b></td>
			<td ng-show="cps.vals.restrictions.editItemSize">snap preselected boundary / event marker to nearest zero crossing</td>
		</tr>
		<tr>
			<td ng-show="cps.vals.restrictions.editItemSize"><b>{{cps.getStrRep(cps.vals.keyMappings.expandSelSegmentsRight)}}</b></td>
			<td ng-show="cps.vals.restrictions.editItemSize">add time to preselected items (expand to right)</td>
		</tr>
		<tr>
			<td ng-show="cps.vals.restrictions.editItemSize"><b>{{cps.getStrRep(cps.vals.keyMappings.shrinkSelSegmentsRight)}}</b></td>
			<td ng-show="cps.vals.restrictions.editItemSize">remove time from preselected items (shrink from right)</td>
		</tr>
		<tr>
			<td ng-show="cps.vals.restrictions.editItemSize"><b>{{cps.getStrRep(cps.vals.keyMappings.shift)}}</b> plus <b>{{cps.getStrRep(cps.vals.keyMappings.expandSelSegmentsLeft)}}</b></td>
			<td ng-show="cps.vals.restrictions.editItemSize">add time to preselected items (expand to left)</td>
		</tr>
		<tr>
			<td ng-show="cps.vals.restrictions.editItemSize"><b>{{cps.getStrRep(cps.vals.keyMappings.shift)}}</b> plus <b>{{cps.getStrRep(cps.vals.keyMappings.shrinkSelSegmentsLeft)}}</b></td>
			<td ng-show="cps.vals.restrictions.editItemSize">remove time from preselected items (shrink from left)</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.levelUp)}}</b></td>
			<td>select level above</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.levelDown)}}</b></td>
			<td>select level below</td>
		</tr>

	</table>

	</p>
	<!-- ///////////////////////////////////////////// -->
	<h2 ng-show="cps.vals.restrictions.playback">Playback shortcuts</h2>
	<p ng-show="cps.vals.restrictions.playback">
		<table>
		<tr>
			<th>Keyboard Shortcut</th>
			<th>Function</th>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.playEntireFile)}}</b></td>
			<td>play entire file</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.playSelected)}}</b></td>
			<td>play selected</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.playAllInView)}}</b></td>
			<td>play/pause in view (also use as general stop for playback)</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.shift)}}</b> plus <b>{{cps.getStrRep(cps.vals.keyMappings.playAllInView)}}</b></td>
			<td>play/pause in view to end of file with autoscrolling</td>
		</tr>

	</table>
	</p>
	<!-- ///////////////////////////////////////////// -->
	<h2 ng-show="cps.vals.restrictions.correctionTool">Correction Tool shortcuts</h2>
	<p ng-show="cps.vals.restrictions.correctionTool">
		<table>
		<tr>
			<th>Keyboard Shortcut</th>
			<th>Function</th>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.selectFirstContourCorrectionTool)}}</b></td>
			<td>choose correction tool for first contour</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.selectSecondContourCorrectionTool)}}</b></td>
			<td>choose correction tool for second contour</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.selectThirdContourCorrectionTool)}}</b></td>
			<td>choose correction tool for third contour</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.selectFourthContourCorrectionTool)}}</b></td>
			<td>choose correction tool for fourth contour</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.selectNoContourCorrectionTool)}}</b></td>
			<td>disable correction tool</td>
		</tr>
	</table>
	</p>
	<!-- ///////////////////////////////////////////// -->
	<h2>Hierarchy Tool shortcuts</h2>
	<p>
		<table>
			<tr>
				<th>Keyboard Shortcut</th>
				<th>Function</th>
			</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.hierarchyRotate)}}</b></td>
			<td>rotate hierarchy by 90&deg;</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.hierarchyAddItemBefore)}}</b></td>
			<td>add item before the currently preselected one</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.hierarchyAddItemAfter)}}</b></td>
			<td>add item after the currently preselected one</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.shift)}}</b></td>
			<td>draw a new link (press and hold)</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.hierarchyDeleteItem)}}</b></td>
			<td>delete the currently preselected item</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.hierarchyDeleteLink)}}</b></td>
			<td>delete the currently preselected link</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.hierarchyPlayback)}}</b></td>
			<td>play back the portion defined by the currently preselected item</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.levelDown)}}</b></td>
			<td>select next hierarchy path</td>
		</tr>
		<tr>
			<td><b>{{cps.getStrRep(cps.vals.keyMappings.levelUp)}}</b></td>
			<td>select previous hierarchy path</td>
		</tr>
		</table>
	</p>
	<div style="height: 100px;">&nbsp;</div>
</div>
</div>