<div class="emuwebapp-modal-wrap" ng-controller="ModalCtrl">
    <div class="emuwebapp-modal-header-large emuwebapp-modal-header">
        <h3 id="modalHeading">
            Rename Level
        </h3>
	</div>
	<div class="emuwebapp-modal-body">
	    <div>
	        <p> Do you really wish to <i>rename</i> the level "{{dataIn}}" ?</p>
	    </div>
	    <div>
	        <p><input type="text" ng-model="data" placeholder="{{dataIn}}" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();" /></p>
	    </div>
	</div>
	<div class="emuwebapp-modal-footer">
	  <button ng-click="modal.close();" id="modalCancelBtn" class="emuwebapp-mini-btn">Cancel</button>
	  <button ng-click="renameLevel();" class="emuwebapp-mini-btn">Rename</button>
	</div>
</div>


