<div class="emuwebapp-modal-wrap" ng-controller="ModalCtrl">
    <div class="emuwebapp-modal-header-large emuwebapp-modal-header">
        <h3 id="modalHeading">
            Select label to link to
        </h3>
	</div>
	<div class="emuwebapp-modal-body">
		<b>Please select one of the following options:</b>
		<ul class="emuwebapp-modalUl">
			<li ng-repeat="(key, curOpt) in dataIn track by $index">
				<div class="emuwebapp-card" ng-click="modal.dataOut = $index; modal.confirmContent()">
					{{curOpt}}
				</div>
			</li>
		</ul>
	</div>
	<div class="emuwebapp-modal-footer">
	  <!--<button ng-click="modal.close();" id="modalCancelBtn" class="emuwebapp-mini-btn">Cancel</button>-->
	</div>
</div>