$color-black: #000;
$color-white: #fff;
$color-blue: #0DC5FF;
$color-red: #f00;
$color-yellow: #ff0;
$color-green: #eeff41;
$color-grey: #424242;
$color-lightGrey: #E7E7E7;
$color-darkGrey: #303030;
$color-transparent-grey: rgba(22, 22, 22, 0.1);
$color-transparent-lightGrey: rgba(152, 152, 152, 0.18);
$color-transparent-black: rgba(0, 0, 0, 0.7);
$color-transparent-red: rgba(255, 0, 0, 0.95);
$color-transparent-yellow: rgba(255, 255, 22, 0.35);
$animation-period: 400;
$font-small-family: HelveticaNeue;
$font-small-size: 12px;
$font-small-weight: 400;
$font-large-family: HelveticaNeue;
$font-large-size: 16px;
$font-large-weight: 400;
$font-input-family: HelveticaNeue;
$font-input-size: 14px;
$font-input-weight: 400;
$font-code-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
$font-code-size: 14px;
$font-code-weight: 600;


// Here's the export you add.
:export {
    colorBlack: $color-black;
    colorWhite: $color-white;
    colorBlue: $color-blue;
    coloRed: $color-red;
    colorYellow: $color-yellow;
    colorGreen: $color-green;
    colorGrey: $color-grey;
    colorLightGrey: $color-lightGrey;
    colorDarkGrey: $color-darkGrey;
    colorTransparentGrey: $color-transparent-grey;
    colorTransparentLightGrey: $color-transparent-lightGrey;
    colorTransparentBlack: $color-transparent-black;
    colorTransparentRed: $color-transparent-red;
    colorTransparentYellow: color-transparent-yellow;
    animationPeriod: $animation-period;
    fontSmallFamily: $font-small-family;
    fontSmallSize: $font-small-size;
    fontSmallWeight: $font-small-weight;
    fontLargeFamily: $font-large-family;
    fontLargeSize: $font-large-size;
    fontLargeWeight: $font-large-weight;
    fontInputFamily: $font-input-family;
    fontInputSize: $font-input-size;
    fontInputWeight: $font-input-weight;
    fontCodeFamily: $font-code-family;
    fontCodeSize: $font-code-size;
    fontCodeWeight: $font-code-weight;
}