$color-black: #000000;
$color-white: #ffffff;
$color-red: #ff0000;
$color-blue: #0DC5FF;
$color-yellow: #ffff00;
$color-green: #eeff41;
$color-grey: #424242;
$color-light-grey: #E7E7E7;
$color-dark-grey: #303030;
$color-transparent-grey: rgba(22, 22, 22, 0.1);
$color-transparent-light-grey: rgba(152, 152, 152, 0.18);
$color-transparent-black: rgba(0, 0, 0, 0.7);
$color-transparent-red: rgba(255, 0, 0, 0.95);
$color-transparent-yellow: rgba(255, 255, 22, 0.35);
$animation-period: 400;
$font-small-family: Arial;
$font-small-size: 12px;
$font-small-weight: 400;
$font-large-family: Arial;
$font-large-size: 16px;
$font-large-weight: 400;
$font-input-family: Arial;
$font-input-size: 14px;
$font-input-weight: 400;
$font-code-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
$font-code-size: 14px;
$font-code-weight: 600;

:root {
    --color-black: #{$color-black};
    --color-white: #{$color-white};
    --color-red: #{$color-red};
    --color-blue: #{$color-blue};
    --color-yellow: #{$color-yellow};
    --color-green: #{$color-green};
    --color-grey: #{$color-grey};
    --color-light-grey: #{$color-light-grey};
    --color-dark-grey: #{$color-dark-grey};
    --color-transparent-grey: #{$color-transparent-grey};
    --color-transparent-light-grey: #{$color-transparent-light-grey};
    --color-transparent-black: #{$color-transparent-black};
    --color-transparent-red: #{$color-transparent-red};
    --color-transparent-yellow: #{$color-transparent-yellow};
    --animation-period: #{$animation-period};
    --font-small-family: #{$font-small-family};
    --font-small-size: #{$font-small-size};
    --font-small-weight: #{$font-small-weight};
    --font-large-family: #{$font-large-family};
    --font-large-size: #{$font-large-size};
    --font-large-weight: #{$font-large-weight};
    --font-input-family: #{$font-input-family};
    --font-input-size: #{$font-input-size};
    --font-input-weight: #{$font-input-weight};
    --font-code-family: #{$font-code-family};
    --font-code-size: #{$font-code-size};
    --font-code-weight: #{$font-code-weight};
}

// Here's the export you add.
:export {
    colorBlack: $color-black;
    colorWhite: $color-white;
    colorBlue: $color-blue;
    colorRed: $color-red;
    colorYellow: $color-yellow;
    colorGreen: $color-green;
    colorGrey: $color-grey;
    colorLightGrey: $color-light-grey;
    colorDarkGrey: $color-dark-grey;
    colorTransparentGrey: $color-transparent-grey;
    colorTransparentLightGrey: $color-transparent-light-grey;
    colorTransparentBlack: $color-transparent-black;
    colorTransparentRed: $color-transparent-red;
    colorTransparentYellow: $color-transparent-yellow;
    animationPeriod: $animation-period;
    fontSmallFamily: $font-small-family;
    fontSmallSize: $font-small-size;
    fontSmallWeight: $font-small-weight;
    fontLargeFamily: $font-large-family;
    fontLargeSize: $font-large-size;
    fontLargeWeight: $font-large-weight;
    fontInputFamily: $font-input-family;
    fontInputSize: $font-input-size;
    fontInputWeight: $font-input-weight;
    fontCodeFamily: $font-code-family;
    fontCodeSize: $font-code-size;
    fontCodeWeight: $font-code-weight;
}
