@import 'EMUwebAppDesign';

.emuwebapp-font-small {
    font-family: $font-small-family;
    font-size: $font-small-size;
    font-weight: $font-small-weight;
}
.emuwebapp-font-large {
    font-family: $font-large-family;
    font-size: $font-large-size;
    font-weight: $font-large-weight;
}
.emuwebapp-font-code {
    font-family: $font-code-family;
    font-size: $font-code-size;
    font-weight: $font-code-weight;
}
.emuwebapp-font-input {
    font-family: $font-input-family;
    font-size: $font-input-size;
    font-weight: $font-input-weight;
}
