@import 'EMUwebAppDesign';

.emuwebapp-font-small {
    font-family: var(--font-small-family);
    font-size: var(--font-small-size);
    font-weight: var(--font-small-weight);
}
.emuwebapp-font-large {
    font-family: var(--font-large-family);
    font-size: var(--font-large-size);
    font-weight: var(--font-large-weight);
}
.emuwebapp-font-code {
    font-family: var(--font-code-family);
    font-size: var(--font-code-size);
    font-weight: var(--font-code-weight);
}
.emuwebapp-font-input {
    font-family: var(--font-input-family);
    font-size: var(--font-input-size);
    font-weight: var(--font-input-weight);
}
