@import 'EMUwebAppDesign';
@import 'mixins';

.emuwebapp-preview {
    position: relative;
    width:calc(100% - 30px); 
    height: 38px !important; 
    min-height: 38px !important; 
    margin-top:5px;
    cursor: pointer;
    
	> .emuwebapp-preview-canvas {
		position: absolute;
	}
	
	> .emuwebapp-preview-canvas-markup {
		position: absolute;
		background-color: transparent;
		width: 100%;
		height: 100%;
	}    
}



