@import 'EMUwebAppDesign';
@import 'font';
@import 'mixins';

div.printTitle { 
    display: none 
}

@media print {
    div.printTitle {
        display: block;
        position: running(printTitle);
    }
    @page {
        size: auto;
        margin: 0.5cm;
        margin-left: 1cm;
        text-align: center;
    }
  
    html, body { 
        width: 100%; 
        height: 100%; 
        text-align: center; 
    }
   
    html, body, ul, ol, li, form, fieldset, legend { 
        margin: 0; 
        padding: 0; 
    }
  
    .emuwebapp-bundleListSideBarOuter,
    .emuwebapp-progressThing,
    .emuwebapp-menuBarTop,
    .emuwebapp-menuBarBottom,
    .emuwebapp-split-handler,
    .emuwebapp-filter,
    .emuwebapp-bundle-outer,
    .emuwebapp-top-menu,
    .emuwebapp-right-menu,
    .emuwebapp-bottom-menu,
    .emuwebapp-timelineCanvasButtons,
    .emuwebapp-rightSideMenuOpenBtn,
    .emuwebapp-levelButtonsContainer,
    .emuwebapp-selectAttrDef,
    .emuwebapp-levelResizeBtn,
    .emuwebapp-levelButtonsContainer { 
        display: none !important; 
        height: 0 !important;
        width: 0 !important;
    } 
  
    .emuwebapp-timeline-flexitem { 
        margin-bottom: 3px;
    }  
   
    .emuwebapp-bottomPane { 
        margin-top: 0;
    }
}
