@import 'EMUwebAppDesign';
@import 'font';
@import 'mixins';

/** ###############################
    progress thing CSS
    see: progress thing directive
    ############################### */

.emuwebapp-progressBar {
    background-color: $color-grey;
    color: $color-white;
    width: 100%;
    height: 20px;
    @extend .emuwebapp-font-input;
    font-weight: 900;

    background-image: -webkit-linear-gradient(
        -45deg,
        $color-black 25%,
        transparent 25%,
        transparent 50%,
        $color-black 50%,
        $color-black 75%,
        transparent 75%,
        transparent
    );
    background-image: -moz-linear-gradient(
        -45deg,
        $color-black 25%,
        transparent 25%,
        transparent 50%,
        $color-black 50%,
        $color-black 75%,
        transparent 75%,
        transparent
    );
    background-image: -ms-linear-gradient(
        -45deg,
        $color-black 25%,
        transparent 25%,
        transparent 50%,
        $color-black 50%,
        $color-black 75%,
        transparent 75%,
        transparent
    );
    background-image: linear-gradient(
        -45deg,
        $color-black 25%,
        transparent 25%,
        transparent 50%,
        $color-black 50%,
        $color-black 75%,
        transparent 75%,
        transparent
    );
    @include vendor-prefix(background-size, "50px 50px");
    @include vendor-prefix(animation, "emuwebapp-move 2s linear infinite");
    @include vendor-prefix(box-shadow, "inset 0 6px 6px "+$color-transparent-lightGrey);
    overflow: hidden;
}

/*
Animate the stripes
*/   
@-webkit-keyframes emuwebapp-move{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}    
@-moz-keyframes emuwebapp-move{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}    
@-ms-keyframes emuwebapp-move{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}    
@keyframes emuwebapp-move{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}  

.emuwebapp-animationRunning {
    @include vendor-prefix(animation-play-state, "running");
}

.emuwebapp-animationStopped {
    @include vendor-prefix(animation-play-state, "paused");
}
