@import 'EMUwebAppDesign';

/** 
    ###################################
    spectro and osci CSS
    see: spectro directive and template
    see: osci directive and template
*/


.emuwebapp-timeline {
    // background-color: white;
    position: absolute;  
    padding: 0;
    margin: 0;     
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    .emuwebapp-timelineCanvasContainer {
        position: relative;
        float:left;
        height: 100%;
        width: calc(100% - 10px);
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 0px;
        padding-bottom: 0px;  
        div {
            width: 100%;
        }  
        canvas {
            float: left;
            margin: 0px;
            z-index: 1;   
            width: 100%;
            height: 100%;
            outline: 1px solid black; 
        }
        .emuwebapp-timelineCanvasMain {
            top: 0; 
            left: 5px;
            background: $color-black;
        }
        .emuwebapp-timelineCanvasSSFF {
            position: absolute;
            top: 0; 
            left: 5px;
            width: calc(100% - 10px) !important;
            z-index: 2;
        }
        .emuwebapp-timelineCanvasMarkup {
            position: absolute;
            top: 0px; 
            left: 5px;
            background-color: transparent;
            z-index: 2; 
            width: calc(100% - 10px) !important;   
        }
    }
    .emuwebapp-timelineCanvasButtons {
        float: left;
        width: 10px;
        min-height: 20px;
    }
}
