<!-- main default configuration -->
<div class="emuwebapp-text">
	<h1>Expert Settings</h1>
	<div>
	<p>
		<table>
		<tr ng-repeat="(key, value) in modal.dataOut.main">
		  <td>{{key}}</td>
		  <td ng-switch="getType('main', key)">
          <span ng-switch-when="boolean">
            <input type="checkbox" ng-model="modal.dataOut.main[key]" ng-checked="modal.dataOut.main[key]" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();">
          </span>
          <span ng-switch-when="string">
            <input type="text" ng-model="modal.dataOut.main[key]" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();">
          </span>
          <span ng-switch-when="integer">
            <input type="number" ng-pattern="/^\d+$/" ng-model="modal.dataOut.main[key]" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();">
          </span>
          <span ng-switch-default>
            <span ng-switch="key">
              <span ng-switch-when="comMode">
                <select ng-model="modal.dataOut.main[key]" ng-options="mode for mode in comMode">
              </span>
            </span>
          </span>
      </td>
		</tr>
  </table>
  <p>&nbsp;</p>
  <h1>Restrictions</h1>
		<table>
		<tr ng-repeat="(key, value) in modal.dataOut.restrictions">
			<td>{{key}}</td>
			<td>
        <div>
          <span>
            <input type="checkbox" ng-model="modal.dataOut.restrictions[key]" ng-checked="modal.dataOut.restrictions[key]" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();">
          </span>
        </span>
      </td>
		</tr>
  </table>
  <p>&nbsp;</p>
  <h1>Buttons</h1>
		<table>
		<tr ng-repeat="(key, value) in modal.dataOut.activeButtons">
			<td>{{key}}</td>
			<td>
        <div>
          <span>
            <input type="checkbox" ng-model="modal.dataOut.activeButtons[key]" ng-checked="modal.dataOut.activeButtons[key]" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();">
          </span>
        </span>
      </td>
		</tr>
  </table>  
<p>&nbsp;</p>
	<h1>Label Settings</h1>
	<div>
	<p>
		<table>
		<tr ng-repeat="(key, value) in modal.dataOut.labelCanvasConfig">
			<td>{{key}}</td>
			<td>
        <div ng-switch="getType('labelCanvasConfig', key)">
          <span ng-switch-when="boolean">
            <input type="checkbox" ng-model="modal.dataOut.labelCanvasConfig[key]" ng-checked="modal.dataOut.labelCanvasConfig[key]" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();">
          </span>
          <span ng-switch-when="string">
            <input type="text" ng-model="modal.dataOut.labelCanvasConfig[key]" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();">
          </span>
          <span ng-switch-when="integer">
            <input type="number" pattern="\d*" ng-model="modal.dataOut.labelCanvasConfig[key]" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();">
          </span>
          <span ng-switch-default>
            <span ng-switch="key">
              <span ng-switch-when="addTimeMode">
                <select ng-model="modal.dataOut.labelCanvasConfig[key]" ng-options="opt for opt in timeMode">
              </span>
            </span>
          </span>          
        </div>
        
      </td>
		</tr>
  </table>
  </p>
  </div>
<br />
