<!-- main default configuration -->
<div class="emuwebapp-text">
	<h1>Main Settings</h1>
	<div>
	<p>
		<table>
		<tr ng-repeat="(key, value) in mainConfig.main">
		  <td>{{key}}</td>
		  <td ng-switch="getType('main', key)">
          <span ng-switch-when="boolean">
            <input
              type="checkbox"
              name="{{key}}"
              ng-model="value"
              id="{{key}}">
          </span>
          <span ng-switch-when="string">
            <input
            type="text"
            name="{{key}}"
            ng-model="value"
            id="{{key}}">
          </span>
          <span ng-switch-when="integer">
            <input
            type="text"
            pattern="\d*"
            name="{{key}}"
            ng-model="value"
            id="{{key}}">
          </span>
      </td>
		</tr>
  </table>
  {{mainConfig}}
</p>
<br />
