<!-- perspectives configuration -->
<div class="emuwebapp-text">
	<h1>Perspectives Settings</h1>
	<div>
	<p>
		<ul>
		<li class="emuwebapp-sortOuter" ng-repeat="(key, value) in modal.dataOut.perspectives" ng-class="{high: $index%2==0, low: $index%2==1}">
		<div>
			<span ng-if="value.name == 'default'">
			  default perspective
		    </span>
			<span ng-if="value.name != 'default'">
			  <input type="text" ng-model="value.name" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();">
			  
			  <a href="#" title="delete" id="modal-delete" ng-click="perspDelete(key)">
				<img src="img/delete.svg" width="30" height="30" />
			</a>			

			  
			</span>
		</div>
		<div>
			<u>Signal Canvases</u>
			<ul class="emuwebapp-sort" ui-sortable="sortableOptions" ng-model="value.signalCanvases.order">
				<li class="emuwebapp-sort" ng-repeat="signalCanvas in value.signalCanvases.order">{{ signalCanvas }}</li>
			</ul>
		</div>
		<div>
			<u>Level Canvases</u>
			<ul class="emuwebapp-sort" ui-sortable="sortableOptions" ng-model="value.levelCanvases.order">
				<li class="emuwebapp-sort" ng-repeat="levelCanvas in value.levelCanvases.order">{{ levelCanvas }}</li>
			</ul>
		</div>
		<div>
			<u>2D</u>
			<ul class="emuwebapp-sort" ui-sortable="sortableOptions" ng-model="value.twoDimCanvases.order">
				<li class="emuwebapp-sort" ng-repeat="twoDimCanvas in value.twoDimCanvases.order">{{ twoDimCanvas }}</li>
			</ul>
			
			
			{{value.twoDimCanvases}}
		</div>
		</li>
		</ul>
		<a href="#" ng-click="perspAdd()">add new perspective</a>
	</p>
	</div>
</div>
  <br />
