<!-- main configuration -->
<div class="emuwebapp-text">
	<h1>Perspectives Settings</h1>
	<div>
	<p>
		<table>
		<tr ng-repeat="(key, value) in modal.dataOut.perspectives">
			<td>{{key}}</td>
			<td>
        <div ng-switch="getType('perspectives', key)">
          <span class="emuwebapp-tabbed-cell" ng-switch-when="boolean">
            <input type="checkbox" ng-checked="modal.dataOut.perspectives[key]" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();">
          </span>
          <span class="emuwebapp-tabbed-cell" ng-switch-when="string">
            <input type="text" ng-value="modal.dataOut.perspectives[key]" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();">
          </span>
          <span class="emuwebapp-tabbed-cell" ng-switch-when="integer">
            <input type="text" pattern="\d*" ng-value="modal.dataOut.perspectives[key]" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();">
          </span>
        </span>
      </td>
		</tr>
  </table>
  <br />
