<!-- main configuration -->
<div class="emuwebapp-text">
	<h1>Restriction Settings</h1>
	<div>
	<p>
		<table>
		<tr ng-repeat="(key, value) in schema.restrictions.properties" class="emuwebapp-tabbed-table">
			<td style="text-align:left !important;">{{key}}</td>
			<td style="text-align:right !important;">
        <div ng-switch="value.type">
          <span class="emuwebapp-tabbed-cell" ng-switch-when="boolean">
            <input type="checkbox" name="{{key}}" ng-init="modal.dataOut['restrictions'][key]=getConfigValue(key)" ng-model="modal.dataOut['restrictions'][key]" ng-checked="{{getConfigValue(key)}}" id="{{key}}">
          </span>
          <span class="emuwebapp-tabbed-cell" ng-switch-when="string">
            <input type="text" name="{{key}}" ng-init="modal.dataOut['restrictions'][key]=getConfigValue(key)" ng-model="modal.dataOut['restrictions'][key]" ng-value="getConfigValue(key)" id="{{key}}">
          </span>
          <span class="emuwebapp-tabbed-cell" ng-switch-when="integer">
            <input type="text" pattern="\d*" ng-init="modal.dataOut['restrictions'][key]=getConfigValue(key)" ng-model="modal.dataOut['restrictions'][key]" ng-value="{{getConfigValue(key)}}" id="{{key}}">
          </span>
        </span>
      </td>
		</tr>
  </table>
  <br />
