<!-- globalDefinitions -->
<div class="emuwebapp-roundedBorderFrame">
    <div class="emuwebapp-tabbed-table">
		<div class="emuwebapp-tabbed-row">
			<span class="emuwebapp-tabbed-cell3 emuwebapp-align-right">
				UUID
			</span>
			<span class="emuwebapp-tabbed-cell">
				{{cps.curDbConfig.UUID}}
				<!-- <button ng-click="generateUUID()" class="emuwebapp-mini-btn-dialog" style="background: #0DC5FF">generate new UUID</button> -->
			</span>			
		</div>
		<br />
		<div class="emuwebapp-tabbed-row">
			<span class="emuwebapp-tabbed-cell3 emuwebapp-align-right">
				Name
			</span>
			<span class="emuwebapp-tabbed-cell">
				<input type="text" name="uuid" value="{{cps.curDbConfig.name}}" size="45" class="emuwebapp-tabbed-input-bold">
			</span>
		</div>
		<br />
		<div class="emuwebapp-tabbed-row">
			<span class="emuwebapp-tabbed-cell3 emuwebapp-align-right">
				Media File Extension
			</span>
			<span class="emuwebapp-tabbed-cell">
				<input type="text" name="uuid" value="{{cps.curDbConfig.mediafileExtension}}" size="45" class="emuwebapp-tabbed-input-bold">
			</span>
		</div>
	</div>
</div>
