<!-- levelDefinitions -->
<div class="emuwebapp-roundedBorderFrame" ng-repeat="(key, value) in cps.curDbConfig.linkDefinitions">
    <a href title="Close" class="emuwebapp-tabbed-close" ng-click="deleteLinkDefinition(key)">X</a>
    <div class="emuwebapp-tabbed-level">
	    Type: <select ng-model="linkTypes[key]" ng-options="opt as opt.label for opt in optionsLinkTypes"></select>
	    Super Level: <select ng-model="superLevel[key]" ng-options="opt as opt.label for opt in levelNames"></select>
	    Sub Level: <select ng-model="subLevel[key]" ng-options="opt as opt.label for opt in levelNames"></select>
	</div>
	
	<br />
	
</div>
<a href title="Add new attribute definition" ng-click="addLinkDefinition()"><span class="emuwebapp-tabbed-add">+</span> add new link definition</a>
