<!-- linkDefinitions -->
<div ng-class="classDefinition('link', key)" ng-repeat="(key, value) in cps.curDbConfig.linkDefinitions">
    <a ng-if="value.added" href title="Close" class="emuwebapp-tabbed-close" ng-click="deleteDefinition('link', key)">X</a>
    <div class="emuwebapp-tabbed-table">
        <span class="emuwebapp-tabbed-cell3">
	        Type: <select ng-model="cps.curDbConfig.linkDefinitions[key].type" ng-options="opt as opt for opt in linkDefinitionProperties.type.enum" class="emuwebapp-tabbed-input-bold"></select>
	    </span>
	    <span class="emuwebapp-tabbed-cell3">
	        Super Level: <select ng-model="cps.curDbConfig.linkDefinitions[key].superlevelName" ng-options="opt.name as opt.name for opt in cps.curDbConfig.levelDefinitions" class="emuwebapp-tabbed-input-bold"></select>
	    </span>
	    <span class="emuwebapp-tabbed-cell3">	    
	        Sub Level: <select ng-model="cps.curDbConfig.linkDefinitions[key].sublevelName" ng-options="opt.name as opt.name for opt in cps.curDbConfig.levelDefinitions" class="emuwebapp-tabbed-input-bold"></select>
	    </span>
	</div>
	<button ng-show="value.added" ng-click="saveDefinition('link', key)" id="emuwebapp-modal-save" class="emuwebapp-mini-btn-dialog" style="color: #000; border: 1px solid #000;">Save</button>
	<span class="emuwebapp-tabbed-error" ng-show="response[key].show"><b>Error:</b>{{response[key].text}}</span>	
</div>
<br />
<a href title="Add new definition" ng-click="addDefinition('link')"><span class="emuwebapp-tabbed-add">+</span> add new link definition</a>
<br />