<script type="text/ng-template" id="node_template.html">
<div ng-if="node.expanded"><a class="emuwebapp-tabbed-link" href="#" ng-click="onClickTab(node)">{{hasChildren(node) ? '&#9662;' : '&nbsp;&nbsp;'}} &nbsp;{{node.title}}</a><ul><li data-ng-repeat="node in node.nodes" data-ng-include="'node_template.html'" ></li></ul></div>
<div ng-if="!node.expanded"><a class="emuwebapp-tabbed-link" href="#" ng-click="onClickTab(node)">{{hasChildren(node) ? '&#9656;' : '&nbsp;&nbsp;'}} &nbsp;{{node.title}}</a></div>
</script>
<div class="emuwebapp-modal-wrap">
	<div class="emuwebapp-modal-header-large emuwebapp-modal-header">
		<h3 id="modalHeading">EMU-webApp Help</h3>
	</div>
	<div class="emuwebapp-modal-body">
		<!-- tabbed header -->
		<div id="tabs" class="emuwebapp-tabbed" data-ng-controller="TabbedHelpCtrl">
			<ul class="emuwebapp-tabbed-menu">
        <li data-ng-repeat="node in tree" data-ng-include="'node_template.html'"></li>
    	</ul>
			<div class="emuwebapp-tabbed-view">
				<div ng-bind-html="htmlStr" class="emuwebapp-text"></div>
			</div>
		</div>
  </div>
	<div class="emuwebapp-modal-footer">
	  <button id="modalCancelBtn" ng-click="modal.close();" class="emuwebapp-mini-btn">Cancel</button>
	</div>
</div>
