<div class="modal-header">
  <h3>emuLVC</h3>
</div>
<div class="modal-body">
  <h4>Version: 0.0.1</h4>
 <b>About:</b><br />&nbsp;<br />
 <div class="aboutDiv">
  emuLVC is an online and offline Web-App for labeling, visualizing
  and correcting speech and derived speech data. (still in alpha!!)
 </div>
 
 <hr class="aboutHr" />

 <!-- general usage -->
 
  <b>General usage:</b><br />&nbsp;<br />
  <div class="aboutDiv">
  Moving the mouse over tiers automatically tracks the mouse movement
  and calculates the nearest boundary to the current mouse position and
  preselects it.
  <span ng-show="cps.vals.restrictions.editItemSize">
  To move the currently preselected boundary hold down the <b>{{cps.vals.keyMappings.shift.strRep}}</b> key and 
  move the mouse to the desired position. The boundary will then track the
  mouse movement. If a segment is selected (= marked yellow), holding down 
  <b>{{keyAlt}}</b> will move the entire segment
  </span>
 </div>
 
 <hr class="aboutHr" />

 <!-- navigation shortcuts -->
  <b><u>Main Navigation Shortcuts:</u></b><br />&nbsp;<br />
  <div class="aboutDiv">
  <table class="aboutTable">
    <tbody>
      <tr><td><b>{{cps.vals.keyMappings.openSubmenu.strRep}}:</b></td><td>Open Submenu</td></tr>
      
      <tr><td><b>{{cps.vals.keyMappings.zoomIn.strRep}}:</b></td><td>Zoom in<sup>1</sup></td></tr>
      <tr><td><b>{{cps.vals.keyMappings.zoomOut.strRep}}:</b></td><td>Zoom out<sup>1</sup></td></tr>
      
      <tr><td><b>{{cps.vals.keyMappings.shiftViewPortLeft.strRep}}:</b></td><td>Move view right</td></tr>
      <tr><td><b>{{cps.vals.keyMappings.shiftViewPortRight.strRep}}:</b></td><td>Move view left</td></tr>
      
      <tr><td><b>{{cps.vals.keyMappings.zoomAll.strRep}}:</b></td><td>View all</td></tr>
      <tr><td><b>{{cps.vals.keyMappings.zoomSel.strRep}}:</b></td><td>Zoom in to selected</td></tr>
      

      <tr><td><b>{{cps.vals.keyMappings.tab.strRep}}:</b></td><td>Select next event</td></tr>
      <tr><td><b>{{cps.vals.keyMappings.shift.strRep}} + {{cps.vals.keyMappings.tab.strRep}}:</b></td><td>Select previous event</td></tr>
      
      
    </tbody>
  </table>
  <small>1.) Zooming while a Boundary is preselected will keep the position of that boundary fixed</small>
 </div>
 
 <hr class="aboutHr" />

 <!-- labeling shortcuts -->
 
  <b><u>Labeling shortcuts:</u></b><br />&nbsp;<br />
  <div class="aboutDiv">
  <table class="aboutTable">
    <tbody>
      <tr ng-show="cps.vals.restrictions.editItemSize || cps.vals.restrictions.correctionTool"><td><b>{{cps.vals.keyMappings.history.strRep}}:</b></td><td>Go back in history</td></tr>
      <tr ng-show="cps.vals.restrictions.addItem"><td><b>{{cps.vals.keyMappings.enter.strRep}}:</b></td><td>Add event / boundary at selected position</td></tr>
      <tr ng-show="cps.vals.restrictions.deleteItem"><td><b>{{cps.vals.keyMappings.backspace.strRep}}:</b></td><td>Deleted selected Segments</td></tr>
      <tr ng-show="cps.vals.restrictions.deleteItemBoundary"><td><b>{{cps.vals.keyMappings.shift.strRep}} + {{cps.vals.keyMappings.backspace.strRep}}:</b></td><td>Deleted current Segment Boundary</td></tr>
      <tr ng-show="cps.vals.restrictions.editItemSize"><td><b>{{cps.vals.keyMappings.snapAbove.strRep}}:</b></td><td>Snap selected boundary to closest boundary in tier above</td></tr>
      <tr ng-show="cps.vals.restrictions.editItemSize"><td><b>{{cps.vals.keyMappings.snapBelow.strRep}}:</b></td><td>Snap selected boundary to closest boundary in tier below</td></tr>
      <tr ng-show="cps.vals.restrictions.editItemSize"><td><b>{{cps.vals.keyMappings.snapZero.strRep}}:</b></td><td>Snap to nearest zero crossing</td></tr>
      <tr ng-show="cps.vals.restrictions.editItemSize"><td><b>{{cps.vals.keyMappings.plus.strRep}}:</b></td><td>Add time to selected segments (expand to right)</td></tr>
      <tr ng-show="cps.vals.restrictions.editItemSize"><td><b>{{cps.vals.keyMappings.minus.strRep}}:</b></td><td>Remove time to selected segments (shrink from right)</td></tr>
      <tr ng-show="cps.vals.restrictions.editItemSize"><td><b>{{cps.vals.keyMappings.shift.strRep}} and {{cps.vals.keyMappings.plus.strRep}}:</b></td><td>Add time to selected segments (expand to left)</td></tr>
      <tr ng-show="cps.vals.restrictions.editItemSize"><td><b>{{cps.vals.keyMappings.shift.strRep}} and {{cps.vals.keyMappings.minus.strRep}}:</b></td><td>Remove time to selected segments (shrink from left)</td></tr>
      <tr><td><b>{{cps.vals.keyMappings.tierUp.strRep}}:</b></td><td>Move tier selection up</td></tr>
      <tr><td><b>{{cps.vals.keyMappings.tierDown.strRep}}:</b></td><td>Move tier selection down</td></tr>
      <tr><td><b>{{cps.vals.keyMappings.selectSegmentsInSelection.strRep}}:</b></td><td>Select all Segments in current Viewport Selection</td></tr>
      <tr ng-show="cps.vals.restrictions.editItemSize"><td><b>{{cps.vals.keyMappings.snapBoundary.strRep}}:</b></td><td>Move selection to currently selected boundary</td></tr>
      <!-- <tr ng-show="cps.vals.restrictions.sortLabels"><td><b>MOUSE DRAG</b></td><td>You can sort Tiers by dragging them up and down</td></tr> -->
    </tbody>
  </table>
  </div>
  
  <hr class="aboutHr" ng-show="cps.vals.restrictions.playback"/>

  <!-- playback shortcuts -->
  <b ng-show="cps.vals.restrictions.playback"><u>Playback shortcuts:</u></b><br />&nbsp;<br />
  <div class="aboutDiv" ng-show="cps.vals.restrictions.playback">
  <table class="aboutTable">
    <tbody>
      <tr><td><b>{{cps.vals.keyMappings.playEntireFile.strRep}}:</b></td><td>Play entire file</td></tr>
      <tr><td><b>{{cps.vals.keyMappings.playSelected.strRep}}:</b></td><td>Play selected</td></tr>
      <tr><td><b>{{cps.vals.keyMappings.playAllInView.strRep}}:</b></td><td>Play/Pause in view (also use as general stop for playback)</td></tr>
    </tbody>
  </table>
  </div>
  
  <hr class="aboutHr" ng-show="cps.vals.restrictions.correctionTool"/>

  <!-- correction shortcuts -->
  
  <b ng-show="cps.vals.restrictions.correctionTool"><u>Correction Tool shortcuts:</u></b><br />&nbsp;<br />
  <div class="aboutDiv" ng-show="cps.vals.restrictions.correctionTool">
  <table class="aboutTable">
    <tbody>
      <tr><td><b>{{cps.vals.keyMappings.selectFirstContourCorrectionTool.strRep}}:</b></td><td>Choose first correction tool</td></tr>
      <tr><td><b>{{cps.vals.keyMappings.selectSecondContourCorrectionTool.strRep}}:</b></td><td>Choose second correction tool</td></tr>
      <tr><td><b>{{cps.vals.keyMappings.selectThirdContourCorrectionTool.strRep}}:</b></td><td>Choose third correction tool</td></tr>
      <tr><td><b>{{cps.vals.keyMappings.selectFourthContourCorrectionTool.strRep}}:</b></td><td>Choose fourth correction tool</td></tr>
      <tr><td><b>{{cps.vals.keyMappings.selectNoContourCorrectionTool.strRep}}:</b></td><td>Choose NO correction tool (choose when not correcting)</td></tr>
    </tbody>
  </table>
  </div>
  <div> &nbsp;</div>
<div> &nbsp;</div>
<div> &nbsp;</div>
</div>
<div class="modal-footer">
  <button ng-click="cancel();" class="mini-btn-dialog">Cancel</button>
</div>