<div class="emuwebapp-bundle-outer">
    {{filterText}}
    <div ng-controller="bundleListSideBarCtrl">
        <h3>
            <div>
                <input type="text" ng-model="filterText" placeholder="Bundle Filter" ng-focus="vs.setcursorInTextField(true)" ng-blur="vs.setcursorInTextField(false)" class="emuwebapp-filter"/>
            </div>
        </h3>
        <my-drop-zone ng-show="vs.showDropZone"></my-drop-zone>
        <div id="emuwebapp-bundleListContainer" class="emuwebapp-bundle-container" ng-show="!vs.showDropZone">
            <ul ng-repeat="(key, value) in lmds.getRendOptBndlList()">
                <div class="emuwebapp-bundle-session" ng-show="isSessionDefined(key)" ng-click="lmds.toggleCollapseSession(key)">
                    <div ng-if="lmds.getSessionCollapseState(key)">
                        ▷{{key}}
                    </div>
                    <div ng-if="!lmds.getSessionCollapseState(key)">
                        ▽{{key}}
                    </div>
                </div>
                <div class="emuwebapp-bundleListSessionBndlsContainer" ng-show="!lmds.getSessionCollapseState(key)">
                    <div class="emuwebapp-bundleListSessionPager" ng-show="value.length > pageSize">
                        <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                            ←
                        </button>
                        {{currentPage+1}}/{{numberOfPages(value.length)}}
                        <button ng-disabled="currentPage >= value.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                            →
                        </button>
                    </div>
                    <div ng-repeat="bundle in value | startFrom:currentPage*pageSize | limitTo:pageSize | regex:filterText">
                        <div class="emuwebapp-bundle-item" id="uttListItem" ng-style="getBndlColor(bundle);" ng-click="dolss.loadBundle(bundle);" dragout name="{{bundle.name}}">
                            <b>{{bundle.name}}</b><button class="emuwebapp-saveBundleButton" ng-click="dolss.saveBundle();" ng-disabled="uttIsDisabled(bundle)" ng-show="cps.vals.activeButtons.saveBundle"><img class="emuwebapp-saveBundleButton-img" src="img/saveBtn.svg" /></button>
                            <div ng-show="cps.vals.restrictions.bundleFinishedEditing">Finished editing: <input type="checkbox" ng-model="bundle.finishedEditing"/> <br /></div>
                            <div ng-show="cps.vals.restrictions.bundleComments">Comment:<input type="text" ng-focus="vs.setcursorInTextField(true)" ng-blur="vs.setcursorInTextField(false)" ng-model="bundle.comment"/></div>
                        </div>
                    </div>

                </ul>
            </div>
        </div>
    </div>
