<div class="emuwebapp-bundleListSideBarOuter">
    <h3><div class="emuwebapp-bundleFilter"><input type="text" ng-model="filterText" placeholder="Bundle Filter" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/></div></h3>
    <my-Drop-Zone ng-show="showDropZone"></my-Drop-Zone>
    <div id="emuwebapp-bundleListContainer" class="emuwebapp-bundleListContainer" ng-show="!showDropZone">
        <div class="bundleOuter" ng-repeat="bundle in bundleList | regex:filterText">
            <div class="emuwebapp-bundleListItem" id="uttListItem" ng-style="getBndlColor(bundle);" ng-click="menuBundleClick(bundle);">
                <b>{{bundle.name}}</b><button class="emuwebapp-saveBundleButton" ng-click="menuBundleSaveBtnClick();" ng-disabled="uttIsDisabled(bundle)" ng-show="cps.vals.activeButtons.saveBundle"><img /></button>
                <div ng-show="cps.vals.restrictions.bundleFinishedEditing">Finished editing: <input type="checkbox" ng-click="changingMetaData();"/> <br /></div>
                <div ng-show="cps.vals.restrictions.bundleComments">Comment:<input type="text" ng-keyup="changingMetaData();" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();" ></div>
            </div>
        </div>
    </div>
</div>