<div class="emuwebapp-modal-wrap" ng-controller="ModalCtrl">
	<div class="emuwebapp-modal-header-large emuwebapp-modal-header">
	  <h3 id="modalHeading">
		Confirm
	  </h3>
	</div>
	<div class="emuwebapp-modal-body" ng-controller="ModalCtrl">
	    <div class="emuwebapp-text">
	        <div>{{dataIn}}</div>
	    </div>
	</div>
	<div class="emuwebapp-modal-footer">
		<button id="emuwebapp-modal-cancel" ng-click="modal.close();" class="emuwebapp-mini-btn">Cancel</button>
		<button id="emuwebapp-modal-confirm" ng-click="modal.confirm();" class="emuwebapp-mini-btn">Confirm</button>
	</div>
</div>







