<div class="emuwebapp-modal-wrap">
	<div class="emuwebapp-modal-header-large emuwebapp-modal-header">
	  <h3 id="modalHeading">
		Connect to Server
	  </h3>
	</div>
	<div class="emuwebapp-modal-body" ng-controller="ModalCtrl">
	    <div class="emuwebapp-text">
	        <div>
	            Please enter URL: <br />
	            &nbsp;<br />
	            <input type="text" ng-model="modal.dataOut" ng-init="modal.dataOut=cps.vals.main.serverUrl" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"><br />
				{{connectionError}}
			</div>
		</div>
	</div>
	<div class="emuwebapp-modal-footer">
		<button id="emuwebapp-modal-cancel" ng-click="modal.close();" class="emuwebapp-mini-btn">Cancel</button>
		<button id="emuwebapp-modal-confirm" ng-click="modal.confirmContent();" class="emuwebapp-mini-btn">Connect</button>
	</div>
</div>
