<div class="emuwebapp-modal-wrap" ng-controller="editDBconfigModalCtrl">
	<div class="emuwebapp-modal-header-large emuwebapp-modal-header">
	  <h3 id="modalHeading">
	      Edit DBconfig
	  </h3>
	</div>
	<div class="emuwebapp-modal-body">

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">levelDefinitions</a></li>
  <li role="presentation"><a href="#">linkDefinitions</a></li>
  <li role="presentation"><a href="#">ssffTrackDefinitions</a></li>
  <li role="presentation"><a href="#">EMUwebAppConfig</a></li>
  <li role="presentation"><a href="#">global DB vars</a></li>
</ul>


<!-- levelDefinitions -->
<div class="roundedBorderFrame" ng-repeat="(key, value) in cps.curDbConfig.levelDefinitions">
  <div class="Grid Grid--gutters">
    <div class="Grid-cell">
      name:
    </div>
    <div class="Grid-cell">
      <input type="text" value="{{value.name}}"></input>
    </div>
  </div>
  <div class="Grid Grid--gutters">
    <div class="Grid-cell">
      type:
    </div>
    <div class="Grid-cell">
      <select ng-options="opt for opt in possibleConfigValues.levelType"></select>
    </div>
  </div>
  attributeDefinitions:
  <div class="roundedBorderFrame borderDashed">
    <div ng-repeat="(key2, value2) in value.attributeDefinitions">
      <div class="Grid Grid--gutters">
        <div class="Grid-cell">
          name:
        </div>
        <div class="Grid-cell">
          <input type="text" value="{{value2.name}}"></input>
        </div>

        <div class="Grid-cell">
          type:
        </div>
        <div class="Grid-cell">
          <select ng-options="opt for opt in possibleConfigValues.attributeDefinitions"></select>
        </div>
      </div> 
    </div>  
  </div>


  <button>Delete levelDefinition</button>
</div>

<button>Add new levelDefinition</button>

  	</div>
  <div class="emuwebapp-modal-footer">
    <button ng-click="reset()" class="emuwebapp-mini-btn-dialog">Cancel</button>
    <button id="emuwebapp-modal-save" ng-click="saveSpectroSettings()" class="emuwebapp-mini-btn-dialog">Save</button>
  </div>
</div>

