<div class="emuwebapp-modal-wrap" ng-controller="spectSettingsCtrl">
	<div class="emuwebapp-modal-header-large emuwebapp-modal-header">
	  <h3 id="modalHeading">
	      Edit DBconfig
	  </h3>
	</div>
	<div class="emuwebapp-modal-body">

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">levelDefinitions</a></li>
  <li role="presentation"><a href="#">linkDefinitions</a></li>
  <li role="presentation"><a href="#">ssffTrackDefinitions</a></li>
  <li role="presentation"><a href="#">EMUwebAppConfig</a></li>
  <li role="presentation"><a href="#">global DB vars</a></li>
</ul>

<div class="not-defined-yet-level">
  <div class="Grid Grid--gutters">
    <div class="Grid-cell">
      <div>woooord!</div>
    </div>
    <div class="Grid-cell">...</div>
    <div class="Grid-cell">...</div>
    <div class="Grid-cell">...</div>
  </div>  
</div>


  	</div>
  <div class="emuwebapp-modal-footer">
    <button ng-click="reset()" class="emuwebapp-mini-btn-dialog">Cancel</button>
    <button id="emuwebapp-modal-save" ng-click="saveSpectroSettings()" class="emuwebapp-mini-btn-dialog">Save</button>
  </div>
</div>

