 <div class="levelOuter">
  <div class="levelCanvasContainer">
    <canvas id="levelCanvas" class="levelCanvas" width="2048" height="128"></canvas>
    <canvas id="levelMarkupCanvas" class="levelMarkupCanvas" width="2048" height="128" trackmouseinlevel ></canvas>
  </div>
  <div class="levelButtonsContainer">
   <div class="levelDeleteBtn" ng-show="cps.vals.activeButtons.deleteSingleLevel" delete>
     <img style="cursor: pointer;" tooltip-placement="left" data-tooltip="delete">
   </div>
   <div class="levelResizeBtn" ng-show="cps.vals.activeButtons.resizeSingleLevel" resize>
     <img style="cursor: pointer;" tooltip-placement="left" data-tooltip="resize">
   </div>
   <div class="levelSaveBtn" ng-show="cps.vals.activeButtons.saveSingleLevel" save>
     <img style="cursor: pointer;" tooltip-placement="left" data-tooltip="export">
   </div> 
 </div>
</div>


