 <div class="emuwebapp-level">
  <div class="emuwebapp-level-container">
    <canvas 
    class="emuwebapp-level-canvas" 
    id="levelCanvas" 
    width="2048" 
    height="64" 
    ng-style="backgroundCanvas"></canvas>
    
    <canvas 
    class="emuwebapp-level-markup" 
    id="levelMarkupCanvas" 
    width="2048" 
    height="64" 
    track-mouse-in-level="{{idx}}" 
    level-name="level.name" 
    level-type="level.type"></canvas>
  </div>
</div>

<div ng-if="levelDef.attributeDefinitions.length > 1" 
  class="emuwebapp-selectAttrDef">
  <div>
    <ul>
      <li ng-repeat="attrDef in levelDef.attributeDefinitions">
        <button ng-click="changeCurAttrDef(attrDef.name, $index);" ng-style="getAttrDefBtnColor(attrDef.name)"></button>
      </li>
    </ul>
  </div>
</div>
