<div class="modal-header">
	<h3>User Login</h3>
</div>
<div class="modal-body">

	Please enter:

	<ul>
		<li>User name:<input type="text" ng-model="username" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"></li>
		<li>Access code: <input type="text" ng-model="passcode" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"></li>
		<li>{{loginError}}</li>
		<li>Cur passcode is: {{passcode}}</li>
	</ul>
</div>
<div class="modal-footer">
	<button ng-click="tryLogin();" class="mini-btn-dialog">Login</button>
</div>
