<div handleglobalkeystrokes>

  <div class="menu" id="menu">
      <a href="#" class="mini-btn tool-tip" title="Shortcut: O">Open File</a>
<!--  <button class="mini-btn" id="cmd_dropBoxOpen">Dropbox Open</button>
-->   <a href="#" class="mini-btn tool-tip" title="Shortcut: O">Open Menu</a>
      <a href="#" class="mini-btn tool-tip" title="Shortcut: none">Add Tier (seg)</a>
      <a href="#" class="mini-btn tool-tip" title="Shortcut: none">Add Tier (point)</a>
      <a href="#" class="mini-btn tool-tip" title="Shortcut: none">Rename sel. Tier</a>
      <a href="#" class="mini-btn tool-tip" title="Shortcut: none">Download TextGrid</a>
      <a href="#" class="mini-btn tool-tip" title="Shortcut: none">Spec. Settings</a>
      <a href="#" class="mini-btn tool-tip" title="Shortcut: none">Disconnect</a> 
      <a href="#" class="aboutLink" title="About" ng-click="openModal('views/about.html','about');"><img/></a>
  </div>

  <div ng-controller="TimelineCtrl" id="TimelineCtrl" class="TimelineCtrl">
      <osci id='osci' class='osci'></osci>
      <spectro id='spectro' class='spectro'></spectro>
      <div id="resizer" class="resizer"><span id="resizeIcon" class="resizeIcon"> </span></div>
  </div>
  
  <div ng-controller="HandletiersCtrl" id="HandletiersCtrl" class="HandletiersCtrl">
  
    <div id="spacer" class="spacer"></div>

    <tier id='Phonetic' class='tier'></tier>
	

  	<h3>{{testValue}}</h3>
    <p>viewState.curViewPort.sS: {{viewState.curViewPort.sS}};
      viewState.curViewPort.eS: {{viewState.curViewPort.eS}};
      last hit keycode: {{lastkeycode}}</p>
  </div>
  
  
  <script type="text/ng-template" id="modal.html">
    <div class="modal-header">
        <h3>{{modalTitle}}</h3>
    </div>
    <div class="modal-body">
        {{modalContent}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

  <script type="text/ng-template" id="about.html">
    <div>TEST</div>
</script>
  
  
  
  
  
</div>