<div id="OsciDiv" class="OsciDiv">
	<canvas width="2048" height="128" class="OsciCanvas" id="OsciCanvas"></canvas>
	<span ng-switch="showSSFFCanvas">
        <canvas ng-switch-when="osci" width="2048" height="128" class="SSFFCanvas" id="SSFFCanvas" drawssff></canvas>
	</span>	
	<canvas width="2048" height="128" trackmouse class="OsciMarkupCanvas" id="OsciMarkupCanvas"></canvas>
	<div class="buttons" id="buttons">
		<div class="resize" id="resize" ng-click="resizeOsci();">
			<img style="cursor: pointer;" tooltip-placement="left" data-tooltip="Resize">
		</div>	
	</div>
</div>
