<div class="modal-header">
	<h3 id="modalHeading">Hierarchy of bundle</h3>
</div>

<div class="modal-body">
	<select class="form-control" ng-model="paths.selected" ng-options="value for value in paths.possibleAsStr">
	</select>
	<button class="btn btn-default" ng-click="rotateHierarchy()">
		<span class="glyphicon glyphicon-repeat"></span> 
		rotate by 90°
	</button>
	
	<div id="emuwebapp-tree-container"></div>
	<emuhierarchy></emuhierarchy>
</div>

<div class="modal-footer">
	<button id="modalCancelBtn" ng-click="cancel();" class="emuwebapp-mini-btn-dialog">Cancel</button>
</div>
