<div class="emuwebapp-modal-wrap" ng-controller="ShowhierarchyCtrl">
	<div class="emuwebapp-modal-header-large emuwebapp-modal-header">
	  <h2>
	  <div class="emuwebapp-nav-wrap" ng-repeat="(key, levelName) in reverseCopy(paths.possible[getSelIdx()])">
			<ul>
			  <li>
				  <button type="button" class="emuwebapp-toggle-button">
					  {{levelName}}<span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
					<li><em style="color: #111;">Choose current label:</em></li>
					<li class="divider"></li>
					<li ng-repeat="(key2, attrDef) in getAllAttrDefs(levelName)">
						<a ng-click="setCurrentAttrDef(levelName, attrDef.name)">
							<span ng-show="isCurrentAttrDef(levelName, attrDef.name)" class="glyphicon glyphicon-arrow-right"></span>
							{{attrDef.name}}
						</a>
					</li>
				  </ul>
			  </li>
			</ul>
		</div>
		</h2>
		
	</div>
	<div class="emuwebapp-modal-bodyHierarchy">
		<select class="form-control" ng-model="paths.selected" ng-options="value for value in paths.possibleAsStr"></select>
		<history-action-popup ng-show="vs.historyActionTxt !=''"></history-action-popup>
		<emuhierarchy playing="getPlaying();" path="paths.possible[getSelIdx()];" vertical="getRotation();"></emuhierarchy>
	</div>
	<div class="emuwebapp-modal-footer">

	<button class="emuwebapp-mini-btn-dialog" ng-click="playSelection()">
		play selected item
	</button>

	<button class="emuwebapp-mini-btn-dialog" ng-click="rotateHierarchy()">
		<span class="glyphicon glyphicon-repeat"></span> 
		rotate by 90°
	</button>

		<button ng-click="modal.close();" class="emuwebapp-mini-btn-dialog">Close</button>
	</div>
</div>




