<div class="emuwebapp-modal-wrap" ng-controller="spectSettingsCtrl">
	<div class="emuwebapp-modal-header-large emuwebapp-modal-header">
	    <h3 id="modalHeading">OSCI/SPEC Settings</h3>
	</div>
	<div class="emuwebapp-modal-body">
	    <div class="emuwebapp-text">
	    	<h1>OSCI Settings</h1>
	        <div>
	            <h2>Current channel</h2>
	            <select ng-model="osciChannel" ng-options="channel for channel in osciAvailableChannels"></select>
		    </div>	
	    	<h1>SPEC Settings</h1>
	        <div>
	            <h2>View Range (Hz)</h2>
	            From: <input type="text" ng-keyup="checkSpectroSettings()" ng-style="cssError(2,4)" ng-model="modalVals.rangeFrom" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/>
	            To: <input type="text" ng-keyup="checkSpectroSettings()" ng-style="cssError(1,3)"  ng-model="modalVals.rangeTo" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/><br />
	            <div ng-show="htmlError(1)"><b style="color: #f00;">Error:</b> Upper Range is bigger then {{upperBoundary}}</div>
	            <div ng-show="htmlError(2)"><b style="color: #f00;">Error:</b> Only positive Integers are allowed.</div>
	            <div ng-show="htmlError(3)"><b style="color: #f00;">Error:</b> Only Integers allowed inside 'To'.</div>
	            <div ng-show="htmlError(4)"><b style="color: #f00;">Error:</b> Only Integers allowed inside 'From'.</div>
	        </div>
	        <div>
	            <h2>Window Size (seconds)</h2>
	            <span>resulting number of samples <em>{{modalVals._windowSizeInSamples}}</em> zero-padded to <em>{{modalVals._fftN}} (min. = 512)</em></span>
	            <input type="text" ng-keyup="checkSpectroSettings()" ng-style="cssError(6)" ng-model="modalVals.windowSizeInSecs" ng-change="calcWindowSizeVals()" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/> <br />
	            <div ng-show="htmlError(6)"><b style="color: #f00;">Error:</b> Only Floats are allowed.</div>
	        </div>
	        <div>
	            <h2>Dynamic Range for Maximum (dB)</h2>
	            <input type="text" ng-keyup="checkSpectroSettings()" ng-style="cssError(5)" ng-model="modalVals.dynamicRange" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/> <br />
	            <div ng-show="htmlError(5)"><b style="color: #f00;">Error:</b> Only Integers are allowed.</div>
	        </div>
	        <div>
	            <h2>Pre-emphasis filter factor</h2> 
	            <span>resulting high pass filter function: <em>ŝ(k) = s(k)-{{modalVals.preEmphasisFilterFactor}}*s(k-1)</em></span>
	            <input type="text" ng-keyup="checkSpectroSettings()" ng-style="cssError(7)" ng-model="modalVals.preEmphasisFilterFactor" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/> <br />
	            <div ng-show="htmlError(7)"><b style="color: #f00;">Error:</b> Only Floats are allowed.</div>
	        </div>
	        <div>
	            <h2>Window Function</h2>
	            <select id="selWindowInfo" ng-model="selWindowInfo.name" ng-options="opt for opt in windowOptions"></select>
	        </div>
	        <div>
	            <h2>Color Options</h2>
	            <span>Draw spectrogram in heat map colors: <input type="checkbox" ng-model="modalVals.drawHeatMapColors"></span>
	            <table class='emuwebapp-modalTable' ng-style="cssError(8)">
					<tr>
						<th></th>
						<th>red</th>
						<th>green</th>
						<th>blue</th>
						<th>resulting color</th>
					</tr>

	                <tr>
	                    <td>First spectrogram color anchor:</td>
	                    <td>r: <input ng-keyup="checkSpectroSettings()" class="emuwebapp-rgbTextInput" type="text" ng-model="modalVals.heatMapColorAnchors[0][0]" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/></td>
	                    <td>g: <input ng-keyup="checkSpectroSettings()" class="emuwebapp-rgbTextInput" type="text" ng-model="modalVals.heatMapColorAnchors[0][1]" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/></td>
	                    <td>b: <input ng-keyup="checkSpectroSettings()" class="emuwebapp-rgbTextInput" type="text" ng-model="modalVals.heatMapColorAnchors[0][2]" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/></td>
	                    <td><div ng-style="vs.getColorOfAnchor(modalVals.heatMapColorAnchors, 0);"></div></td>
	                </tr>
	                <tr>
	                    <td>Second spectrogram color anchor: </td>
	                    <td>r: <input ng-keyup="checkSpectroSettings()" class="emuwebapp-rgbTextInput" type="text" ng-model="modalVals.heatMapColorAnchors[1][0]" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/></td>
	                    <td>g: <input ng-keyup="checkSpectroSettings()" class="emuwebapp-rgbTextInput" type="text" ng-model="modalVals.heatMapColorAnchors[1][1]" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/></td>
	                    <td>b: <input ng-keyup="checkSpectroSettings()" class="emuwebapp-rgbTextInput" type="text" ng-model="modalVals.heatMapColorAnchors[1][2]" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/></td>
	                    <td><div ng-style="vs.getColorOfAnchor(modalVals.heatMapColorAnchors, 1);"></div></td>
	                </tr>
	                <tr>
	                    <td>Third spectrogram color anchor: </td>
	                    <td>r: <input ng-keyup="checkSpectroSettings()" class="emuwebapp-rgbTextInput" type="text" ng-model="modalVals.heatMapColorAnchors[2][0]" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/></td>
	                    <td>g: <input ng-keyup="checkSpectroSettings()" class="emuwebapp-rgbTextInput" type="text" ng-model="modalVals.heatMapColorAnchors[2][1]" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/></td>
	                    <td>b: <input ng-keyup="checkSpectroSettings()" class="emuwebapp-rgbTextInput" type="text" ng-model="modalVals.heatMapColorAnchors[2][2]" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/></td>
	                    <td><div ng-style="vs.getColorOfAnchor(modalVals.heatMapColorAnchors, 2);"></div></td>
	                </tr>
	            </table>
	            <div ng-show="htmlError(8)"><b style="color: #f00;">Error:</b> Only Integers allowed.</div>
	        </div>
	    </div>
	    <div style="height: 100px;">&nbsp;</div>
	</div>
	<div class="emuwebapp-modal-footer">
	    <button ng-click="reset()" class="emuwebapp-mini-btn">Cancel</button>
	    <button id="emuwebapp-modal-save" ng-click="saveSettings()" class="emuwebapp-mini-btn">Save</button>
	</div>
</div>

