 
 <h2>Settings</h2>
 <div>&nbsp;</div>
 <div>
    <p>View Range (Hz)</p>
    <input type="text" name="rangeFrom" id="rangeFrom" value="{{rangeFrom}}" />
    <input type="text" name="rangeTo" id="rangeTo" value="{{rangeTo}}" />
</div>
<hr />
<div>
    <p>Window Length (samples)</p>
    <input type="text" name="windowLength" id="windowLength" value="{{windowLength}}" />
</div>
<hr />
<div>          
    <p>Dynamic Range for Maximum (dB)</p>  
    <input type="text" name="dynamicRange" id="dynamicRange" value="{{dynamicRange}}" /> 
</div>
<hr />
<div>      
    <p>Window Function</p>      
    <select name="windowFunction" id="windowFunction">
      <option value="BARTLETT" ng-selected="selected('BARTLETT');">BARTLETT</option>
      <option value="BARTLETTHANN" ng-selected="selected('BARTLETTHANN');">BARTLETTHANN</option>
      <option value="BLACKMAN" ng-selected="selected('BLACKMAN');">BLACKMAN</option>
      <option value="COSINE" ng-selected="selected('COSINE');">COSINE</option>
      <option value="GAUSS" ng-selected="selected('GAUSS');">GAUSS</option>
      <option value="HAMMING" ng-selected="selected('HAMMING');">HAMMING</option>
      <option value="HANN" ng-selected="selected('HANN');">HANN</option>
      <option value="LANCZOS" ng-selected="selected('LANCZOS');">LANCZOS</option>
      <option value="RECTANGULAR" ng-selected="selected('RECTANGULAR');">RECTANGULAR</option>
      <option value="TRIANGULAR" ng-selected="selected('TRIANGULAR');">TRIANGULAR</option>	
    </select> 
 </div>
 <div>
  <button ng-click="cancel();" id="dialogButton" class="dialogButton">Cancel</button>
  <button ng-click="saveSpectroSettings();" id="dialogButton" class="dialogButton">OK</button>
  </div>
  <div></div>
  