 <div class="modal-header">
  <h3>Spectrogram Settings</h3>
</div>
<div class="modal-body">
 <div>
  <p>View Range (Hz)</p>
  <input type="text" ng-model="modalVals.rangeFrom" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/>
  <input type="text" ng-model="modalVals.rangeTo" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/>
</div>
<hr />
<div>
  <p>Window Length (samples)</p>
  <!-- <input type="text" ng-model="modalVals.windowLength" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/> -->
  <select id="windowLength" ng-model="modalVals.windowLength" ng-options="l for l in windowLengths"></select>
</div>
<hr />
<div>          
  <p>Dynamic Range for Maximum (dB)</p>  
  <input type="text" ng-model="modalVals.dynamicRange" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/> 
</div>
<hr />
<div>          
  <p>Pre-emphasis per Octave (dB)</p>  
  <input type="text" ng-model="modalVals.preEmphasisPerOctaveInDb" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();" disabled/> 
</div>
<hr />
<div>      
  <p>Window Function</p>
  <select id="selWindowInfo" ng-model="selWindowInfo.name" ng-options="opt for opt in options"></select>
</div>
<hr />
<div>      
  <p>Other Options</p>
  Draw spectrogram in heat map colors: <input type="checkbox" ng-model="modalVals.drawHeatMapColors">
</div>
</div>

<div class="modal-footer">
  <button ng-click="cancel();" class="emuwebapp-mini-btn-dialog emuwebapp-dialogButton">Cancel</button>
  <button id="dialogSaveButton" class="emuwebapp-mini-btn-dialog emuwebapp-dialogButton" ng-click="saveSpectroSettings();" >Save</button>
</div>

