 <div class="modal-header">
  <h3>Spectrogram Settings</h3>
</div>
<div class="modal-body">
 <div>
  <h4>View Range (Hz)</h4>
  <input type="text" ng-model="modalVals.rangeFrom" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/>
  <input type="text" ng-model="modalVals.rangeTo" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/>
</div>
<hr />
<div>
  <h4>Window Size (seconds)</h4>
    <p>resulting number of samples <em>{{modalVals._windowSizeInSamples}}</em> 
    zero-padded to <em>{{modalVals._fftN}} (min. = 512)</em></p>
  <input type="text" ng-model="modalVals.windowSizeInSecs" ng-change="calcWindowSizeVals()" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/> 
</div>
<hr />
<div>          
  <h4>Dynamic Range for Maximum (dB)</h4>  
  <input type="text" ng-model="modalVals.dynamicRange" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/> 
</div>
<hr />
<div>          
  <h4>Pre-emphasis filter factor</h4> 
  <p>resulting high pass filter function: <em>ŝ(k) = s(k)-{{modalVals.preEmphasisFilterFactor}}*s(k-1)</em></p>
  <input type="text" ng-model="modalVals.preEmphasisFilterFactor" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/> 
</div>
<hr />
<div>      
  <h4>Window Function</h4>
  <select id="selWindowInfo" ng-model="selWindowInfo.name" ng-options="opt for opt in options"></select>
</div>
<hr />
<div>      
  <h4>Color Options</h4>
  <p>
    Draw spectrogram in heat map colors: <input type="checkbox" ng-model="modalVals.drawHeatMapColors">
  </p>
  <table class='emuwebapp-modalTable'>
    <tr>
      <td>First spectrogram color anchor:</td>
      <td>r: <input class="emuwebapp-rgbTextInput" type="text" ng-model="modalVals.heatMapColorAnchors[0][0]" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/></td>
      <td>g: <input class="emuwebapp-rgbTextInput" type="text" ng-model="modalVals.heatMapColorAnchors[0][1]" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/></td>
      <td>b: <input class="emuwebapp-rgbTextInput" type="text" ng-model="modalVals.heatMapColorAnchors[0][2]" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/></td>
      <td><div ng-style="getColorOfAnchor(0);"></div></td>
    </tr>
    <tr>
      <td>Second spectrogram color anchor: </td>
      <td>r: <input class="emuwebapp-rgbTextInput" type="text" ng-model="modalVals.heatMapColorAnchors[1][0]" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/></td>
      <td>g: <input class="emuwebapp-rgbTextInput" type="text" ng-model="modalVals.heatMapColorAnchors[1][1]" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/></td>
      <td>b: <input class="emuwebapp-rgbTextInput" type="text" ng-model="modalVals.heatMapColorAnchors[1][2]" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/></td>
      <td><div ng-style="getColorOfAnchor(1);"></div></td>
    </tr>
    <tr>
      <td>Third spectrogram color anchor: </td>
      <td>r: <input class="emuwebapp-rgbTextInput" type="text" ng-model="modalVals.heatMapColorAnchors[2][0]" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/></td>
      <td>g: <input class="emuwebapp-rgbTextInput" type="text" ng-model="modalVals.heatMapColorAnchors[2][1]" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/></td>
      <td>b: <input class="emuwebapp-rgbTextInput" type="text" ng-model="modalVals.heatMapColorAnchors[2][2]" ng-focus="cursorInTextField();" ng-blur="cursorOutOfTextField();"/></td>
      <td><div ng-style="getColorOfAnchor(2);"></div></td>
    </tr>
  </table>
</div>
</div>

<div class="modal-footer">
  <button ng-click="cancel();" class="emuwebapp-mini-btn-dialog emuwebapp-dialogButton">Cancel</button>
  <button id="dialogSaveButton" class="emuwebapp-mini-btn-dialog emuwebapp-dialogButton" ng-click="saveSpectroSettings();" >Save</button>
</div>

