 
 <h2>Settings</h2>
 <div>&nbsp;</div>
 <div>
    <p>View Range (Hz)</p>
    <input type="text" name="viewrange_from" id="viewrange_from" value="0" />
    <input type="text" name="viewrange_to" id="viewrange_to" value="8000" />
</div>
<hr />
<div>
    <p>Window Length (samples)</p>
    <input type="text" name="windowLength" id="windowLength" value="512" />
</div>
<hr />
<div>          
    <p>Dynamic Range for Maximum (dB)</p>  
    <input type="text" name="dynamicRange" id="dynamicRange" value="50" /> 
</div>
<hr />
<div>      
    <p>Window Function</p>      
    <select name="windowFunction" id="windowFunction">
      <option value="BARTLETT">BARTLETT</option>
      <option value="BARTLETTHANN" selected>BARTLETTHANN</option>
      <option value="BLACKMAN">BLACKMAN</option>
      <option value="COSINE">COSINE</option>
      <option value="GAUSS">GAUSS</option>
      <option value="HAMMING">HAMMING</option>
      <option value="HANN">HANN</option>
      <option value="LANCZOS">LANCZOS</option>
      <option value="RECTANGULAR">RECTANGULAR</option>
      <option value="TRIANGULAR">TRIANGULAR</option>	
    </select> 
 </div>
 <div>
  <button ng-click="cancel();" id="dialogButton" class="dialogButton">Cancel</button>
  <button ng-click="saveSpectroSettings();" id="dialogButton" class="dialogButton">OK</button>
  </div>
  <div></div>
  