<div class="SpectroDiv" id="SpectroDiv">
    <div class="SpectroTop">
	    <canvas width="2048" height="128" class="SpectroCanvas" id="SpectroCanvas"></canvas>
    	<canvas width="2048" height="128" class="SpectroSSFFCanvas" id="SpectroSSFFCanvas" drawssff></canvas>
    	<canvas width="2048" height="128" class="SpectroMarkupCanvas" id="SpectroMarkupCanvas" trackmouse drawcrosshairs></canvas>
    	<div class="buttons" id="buttons">
	    	<div ng-click="resizeSpectro();" class="resize" id="resize">
		    	<img style="cursor: pointer;" tooltip-placement="left" data-tooltip="Resize">
    		</div>	
        </div>
	</div>
</div>
