<div class="emuwebapp-timelineCanvasOuter">
    <div class="emuwebapp-timelineCanvasContainer">
        <canvas class="emuwebapp-timelineCanvasMain" ng-style="backgroundCanvas" width="2048"></canvas>
        <canvas class="emuwebapp-timelineCanvasSSFF" ng-style="enlargeCanvas" width="2048" drawssff ssff-trackname="{{curTrack}}"></canvas>
        <canvas class="emuwebapp-timelineCanvasMarkup" ng-style="enlargeCanvas" width="2048" mouse-track-and-correction-tool ssff-trackname="{{curTrack}}"></canvas>
    </div>
    <div class="emuwebapp-timelineCanvasButtons">
        <div ng-show="cps.vals.activeButtons.resizePerspectives" class="emuwebapp-levelResizeBtn" enlarge="{{order}}">
            <img style="cursor: pointer;">
        </div> 
    </div>
</div>
