<div class="timelineCanvasOuter">
    <div class="timelineCanvasContainer">
        <canvas ng-style="enlargeCanvas" class="ssffTrackSsffTrackCanvas" width="2048" height="128" drawssff ssff-trackname="OSCI"></canvas>
        <canvas ng-style="enlargeCanvas" class="ssffTrackMarkupCanvas" width="2048" height="128" trackmouse></canvas>
     </div>
    <div class="timelineCanvasButtons">
        <div class="timelineCanvasResizeBtn" enlarge="{{order}}">
            <img style="cursor: pointer;" tooltip-placement="left" data-tooltip="Resize">
        </div> 
    </div>

</div>
