 <div class="TierOuter">
  <div class="TierTop">
    <canvas width="1280" height="64" id="TierCanvas" class="TierCanvas"></canvas>
    <canvas trackmouseintier width="1280" height="64" class="TierMarkupCanvas" id="TierMarkupCanvas"></canvas>
  </div>
 <div class="buttons" id="buttons">
   <div delete class="delete" id="delete">
	<img style="cursor: pointer;" tooltip-placement="left" data-tooltip="delete">
   </div>
   <div resize class="resize" id="resize">
	<img style="cursor: pointer;" tooltip-placement="left" data-tooltip="resize">
   </div>
   <div save class="save" id="save">
	<img style="cursor: pointer;" tooltip-placement="left" data-tooltip="export">
   </div> 
 </div>
 </div>


