<div>
	<canvas clickable id="Utterance" width="2048" height="128" class="tierSettings" style="cursor: auto;"></canvas>
	<!-- <div class="tierButtons" style="cursor: auto;"> -->
		<!-- <a href="#" id="Utterance_del" class="deleteButton" style="cursor: auto;"><img style="cursor: auto;"></a> -->
		<!-- <a href="#" id="Utterance_res" class="resizeButton" style="cursor: auto;"><img style="cursor: auto;"></a> -->
		<!-- <a href="#" id="Utterance_save" class="saveSingleTierBtn" style="cursor: auto;"><img style="cursor: auto;"></a> -->
	<!-- </div> -->
</div>
