<div>
	<canvas trackmouseintier width="1280" height="128" class="Tier"></canvas>
	<div class="buttons" id="buttons">
    	<div class="button" style="cursor: auto;">
	    	<a href="delete" id="delete" class="delete" style="cursor: auto;"><img style="cursor: auto;"></a>
    	</div>
		<div class="button" style="cursor: auto;">
			<a href="resize" id="resize" class="resize" style="cursor: auto;"><img style="cursor: auto;"></a>
		</div>
		<div class="button" style="cursor: auto;">
			<a href="save" id="save" class="save" style="cursor: auto;"><img style="cursor: auto;"></a>
		</div> 
	</div>
</div>
