<h1>welcome to the <br />EMU-webApp Tutorial</h1>
<div>
	In this tutorial you will learn how to label with the EMU-webApp. 
	It consists of several parts:
	<ul>
		 <li>Keyboard Shortcuts</li>
		 <li>Editing Labels</li>
		 <li>Loading and Saving local Data</li>
		 <li>Connecting to a remote Server</li>
	</ul>
	Lets's beginn with 
	<h1>Keyboard Shortcuts</h1>
	In order to navigate inside the currently loaded wav file
	please press
	<ul>
		 <li ng-init="que[0] = cps.vals.keyMappings.zoomIn" ng-style="getClass(0);"><b>{{getStrRep(0, cps.vals.keyMappings.zoomIn)}}</b> in order to zoom In</li>
		 <li ng-init="que[1] = cps.vals.keyMappings.zoomOut" ng-style="getClass(1);"><b>{{getStrRep(1, cps.vals.keyMappings.zoomOut)}}</b> in order to zoom Out</li>
		 <li ng-style="getClass(2);"><b>{{getStrRep(2, cps.vals.keyMappings.shiftViewPortLeft)}}</b> in order to move left</li>
		 <li ng-style="getClass(3);"><b>{{getStrRep(3, cps.vals.keyMappings.shiftViewPortRight)}}</b> in order to move right</li>
	</ul>        
</div>
